<div class="related-product">
    <h2 style="text-transform: none;">Προσθέστε στο καλάθι σας για να κερδίσετε δωρεάν μεταφορικά:</h2>
    <div class="owl-carousel owl-theme CartScroll product-main-slider">
        {% for pr in cartProposals %}
            <div class="item">
                <div class="product-case">
                    {#<div class="tag tag-green">#}
                        {#<span>new</span>#}
                    {#</div>#}
                    <div class="product-img">
                        <div class="hover-img">
                            <img src="{{ asset(pr.imageUrl) }}" alt="">
                        </div>
                        <a href="#">
                            <img src="{{ asset(pr.imageUrl) }}" alt="">
                        </a>
                    </div>
                    <div class="hover-info">
                        <div class="product-short-info">
                            <div class="product-name">
                                <a href="#">{{ pr.name }}</a>
                            </div>
                            {#<div class="star"><i class="fa fa-star"></i><i#}
                            {#class="fa fa-star"></i><i#}
                            {#class="fa fa-star"></i><i#}
                            {#class="fa fa-star"></i><i#}
                            {#class="fa fa-star"></i><i#}
                            {#class="fa fa-star-o"></i></div>#}
                            <div class="product-price">
                                <div class="product-price-span">{{ pr.webPrice|number_format(2, ',', '.') }}
                                    €
                                    <del>{{ pr.retailPrice|number_format(2, ',', '.') }}€</del>
                                </div>
                            </div>
                            <button type="button" class="add-to-cart-inner"
                                    data-id="{{ pr.id }}"
                                    data-name="{{ pr.name }}">
                                <i class="fa fa-cart-plus"></i><span>στο καλαθι</span>
                            </button>
                        </div>
                    </div>
                    <div class="product-short-info">
                        <div class="product-name">
                            <a href="#">{{ pr.name }}</a>
                        </div>
                        {#<div class="star"><i class="fa fa-star"></i><i#}
                                    {#class="fa fa-star"></i><i class="fa fa-star"></i><i#}
                                    {#class="fa fa-star"></i><i class="fa fa-star"></i><i#}
                                    {#class="fa fa-star-o"></i></div>#}
                        <div class="product-price">
                            <div class="product-price-span">{{ pr.webPrice|number_format(2, ',', '.') }}€
                                <del>{{ pr.retailPrice|number_format(2, ',', '.') }}€</del>
                            </div>
                        </div>
                        <div>
                            <span itemprop="offers" itemscope=""
                                  itemtype="https://schema.org/Offer"
                                  class="availability">
                                {#{% if (pr.remainNotReserved > "0" or pr.webFree == "true") and pr.outOfStock == "false" %}#}
                                {% if pr.outOfStock == "false" and (pr.remainNotReserved|number_format() > 0 or pr.webFree == "true") %}
                                    <span class="available-now">
                                        <link itemprop="availability"
                                              href="https://schema.org/InStock">
                                        Διαθέσιμο
                                    </span>
                                {% else %}
                                    <span class="out-of-stock">
                                        <link itemprop="availability"
                                              href="https://schema.org/InStock">
                                        Μη διαθέσιμο
                                    </span>
                                {% endif %}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>