<footer class="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-sm-3 footmenu">
                    <h6>Information</h6>
                    <ul>
                        <li><a href="#">Our Blog</a></li>
                        <li><a href="#">About Our Shop</a></li>
                        <li><a href="#">Secure Shopping</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul>
                </div>

                <div class="col-sm-3 footmenu">
                    <h6>Our services</h6>
                    <ul>
                        <li><a href="#">Shipping &amp; Returns</a></li>
                        <li><a href="#">Secure Shopping</a></li>
                        <li><a href="#">International Shipping</a></li>
                        <li><a href="#">Affiliates</a></li>
                    </ul>
                </div>

                <div class="col-sm-3 footmenu">
                    <h6>My Account</h6>
                    <ul>
                        <li><a href="#">My Account</a></li>
                        <li><a href="#">Wishlist</a></li>
                        <li><a href="#">Checkout</a></li>
                        <li><a href="#">Cart</a></li>
                    </ul>
                </div>

                <div class="col-sm-3 footinfo">
                    <h6>Get in Touch</h6>
                    <ul>
                        <li><i class="fa fa-phone"></i><strong>Phone:</strong>1-000-000-0000</li>
                        <li><i class="fa fa-envelope-o"></i><strong>Email:</strong> info@yourdomain.com</li>
                        <li><i class="fa fa-map-marker"></i>Street Name, 000000, City Name</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <div class="bottom-buttons">
        <div class="container">

            <div class="row">
                <div class="col-sm-4">
                    <div class="flip-container">
                        <div class="flip">
                            <div class="front">
                                <div class="icon">
                                    <div class="icon-img"><img src="{{ asset('build/images/return-icon.png') }}" alt=""></div>
                                </div>
                                <div class="text-info">
                                    <h5>RETURN &amp; EXCHANGE</h5>
                                    <p>Pro putent probatus ad, ea philosophia</p>
                                </div>
                            </div>
                            <div class="back">
                                <div class="icon">
                                    <div class="icon-img"><img src="{{ asset('build/images/return-icon.png') }}" alt=""></div>
                                </div>
                                <div class="text-info">
                                    <h5>RETURN &amp; EXCHANGE</h5>
                                    <p>Pro putent probatus ad, ea philosophia</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="flip-container">
                        <div class="flip">
                            <div class="front">
                                <div class="icon">
                                    <div class="icon-img"><img src="{{ asset('build/images/shipping-icon.png') }}" alt=""></div>
                                </div>
                                <div class="text-info">
                                    <h5>Free shipping</h5>
                                    <p>Pro putent probatus ad, ea philosophia</p>
                                </div>
                            </div>
                            <div class="back">
                                <div class="icon">
                                    <div class="icon-img"><img src="{{ asset('build/images/shipping-icon.png') }}" alt=""></div>
                                </div>
                                <div class="text-info">
                                    <h5>Free shipping</h5>
                                    <p>Pro putent probatus ad, ea philosophia</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="flip-container">
                        <div class="flip">
                            <div class="front">
                                <div class="icon">
                                    <div class="icon-img"><img src="{{ asset('build/images/tag-icon.png') }}" alt=""></div>
                                </div>
                                <div class="text-info">
                                    <h5>member discount</h5>
                                    <p>Pro putent probatus ad, ea philosophia</p>
                                </div>
                            </div>
                            <div class="back">
                                <div class="icon">
                                    <div class="icon-img"><img src="{{ asset('build/images/tag-icon.png') }}" alt=""></div>
                                </div>
                                <div class="text-info">
                                    <h5>member discount</h5>
                                    <p>Pro putent probatus ad, ea philosophia</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="shop-info">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="shop-icon"><img src="{{ asset('build/images/shop-icon.png') }}" alt=""></div>
                    <h6>Store Location</h6>
                    <p>250 Biscayne Blvd. (North) Miami, <br>
                        Florida 33148</p>
                </div>
                <div class="col-sm-4">
                    <div class="shop-icon"><img src="{{ asset('build/images/shop-icon.png') }}" alt=""></div>
                    <h6>Store Location</h6>
                    <p>250 Biscayne Blvd. (North) Miami, <br>
                        Florida 33148</p>
                </div>
                <div class="col-sm-4">
                    <div class="shop-icon"><img src="{{ asset('build/images/shop-icon.png') }}" alt=""></div>
                    <h6>Store Location</h6>
                    <p>250 Biscayne Blvd. (North) Miami, <br>
                        Florida 33148</p>
                </div>
            </div>
        </div>
    </div>


    <div class="copy">
        <div class="container">
            <div class="row">
                <div class="col-md-6"><p> Copyright &copy; 2017 ANOSIAPHARMACY | All Rights are Reserved </p></div>
                <div class="col-md-6 clearfix">
                    <ul>
                        <li><img src="{{ asset('images/cards.png') }}" alt=""></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</footer>