<header class="site-header">

    {% include 'partials/top_header.html.twig' %}

    <div class="post-header" id="header">
        {% for message in app.flashes('notice') %}
            <div class="flash-notice">
                {{ message }}
            </div>
        {% endfor %}
        <div class="container">
            <div class="post-header-wrap">
                {#<a href="#" class="sidebar-toogle" id="menu-toggle">Sidebar Toogle</a>#}
                <a role="button" href="#menuModal" data-toggle="modal"
                   class="menu-toggle visible-xs visible-sm">MENU
                    TOGGLE</a>
                <div class="row">
                    <div class="col-md-4">
                        <div class="logo">
                            <a href="{{ path('index') }}">
                                <img src="{{ asset('images/logo.png') }}" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4 top-search visible-lg visible-md visible-xs visible-sm">
                        <div class="search-wrap" style="margin-bottom: 15px; margin-top: 15px;">
                            {#<a data-toggle="collapse" href="#collapseSearch" aria-expanded="false"#}
                            {#aria-controls="collapseSearch"#}
                            {#class="close-btn visible-lg visible-md visible-sm">Search</a>#}
                            {#<div class="pull-right">#}
                            <div class="col-sm-10 col-md-10 pull-right">
                                <div class="search">
                                    {#<form action="{{ path('product_search') }}" method="post">#}
                                        <div class="textbox">
                                            <input id="keyword" name="keyword" required="" class="form-control"
                                                   type="text"
                                                   placeholder="Αναζητήστε βάσει κωδικού, ονόματος ή μάρκας"
                                                   style="width: 100%;background: #f3f3f3; border: 1px #ccc solid;">
                                        </div>
                                        {#<div class="option-box">#}
                                        {#<select class="c-select">#}
                                        {#<option>All</option>#}
                                        {#<option>Women</option>#}
                                        {#<option>Men</option>#}
                                        {#<option>Juniors</option>#}
                                        {#<option>Kids</option>#}
                                        {#<option>Accessories</option>#}
                                        {#</select>#}
                                        {#</div>#}
                                        <button id="search-button" type="submit"><i class="fas fa-search"></i>
                                        </button>
                                    {#</form>#}
                                </div>
                            </div>
                            {#</div>#}
                        </div>
                    </div>

                    <div class="col-md-4 pull-right menu-set-items">
                        
                        {% if loggedUser == null %}
                            {#{% set accountUrl = '#' %}#}
                            {#{% set sideClass = 'toogle-sidebar' %}#}
                            <a href="#" class="account-link toggle-sidebar navbar-brand"
                               style="margin-top: 8px; padding: 0;"
                               title=" Ο λογαριασμός μου">
                                <i class="far fa-user"></i>
                            </a>
                            {% else %}
                            {#{% set accountUrl = 'user_account' %}#}
                            {#{% set sideClass = '' %}#}
                            <a class="account-link navbar-brand"
                               data-toggle="collapse" href="#collapseUser" aria-expanded="false"
                               aria-controls="collapseUser"
                               style="margin-top: 8px; padding: 0 5px 0 15px;"
                               title=" Ο λογαριασμός μου">
                                <i class="far fa-user"></i>
                            </a>
                            {% endif %}

                            <a href="{{ path('wishlist_view') }}" class="wishlist-link navbar-brand"
                               style="margin-top: 8px; padding: 0 5px 0 5px;" title=" Wishlist">
                                <i class="far fa-heart"></i>
                                {% if (totalWishlistItems > 0) %}
                                    {% set display = 'inline' %}
                                {% else %}
                                    {% set display = 'none' %}
                                {% endif %}
                                <span id="wishlist-total-items" class="count-baloon"
                                      style="display:{{ display }};">
                                    {{ totalWishlistItems }}
                                </span>
                            </a>
                            <a href="#" style="margin-top: 8px; padding: 0 5px 0 5px;"
                               class="cart-link toggle-cart-sidebar navbar-brand"
                               title="Καλάθι">
                                <i class="fas fa-shopping-bag"></i>
                                {% if (totalCartItems > 0) %}
                                    {% set display = 'inline' %}
                                {% else %}
                                    {% set display = 'none' %}
                                {% endif %}
                                <span id="cart-total-items" class="count-baloon"
                                      style="display:{{ display }};">
                                    {{ totalCartItems }}
                                </span>
                            </a>
                       


<!--
                        <ul>
                        <li style="padding-right: 0;">
                        {% if loggedUser == null %}
                            {#{% set accountUrl = '#' %}#}
                            {#{% set sideClass = 'toogle-sidebar' %}#}
                            <a href="#" class="account-link toggle-sidebar"
                               style="margin-top: 8px; padding: 0;"
                               title=" Ο λογαριασμός μου">
                                {#<i style="color:#ffffff" class="fas fa-user account-link"></i>#}
                                <img style="width:50px;" src="{{ asset('images/icons/anosia-icons-account.png') }}">
                                <span class="link-text" style="visibility:hidden">.</span>
                            </a>
                        {% else %}
                            {#{% set accountUrl = 'user_account' %}#}
                            {#{% set sideClass = '' %}#}
                            <a class="account-link"
                               data-toggle="collapse" href="#collapseUser" aria-expanded="false"
                               aria-controls="collapseUser"
                               style="margin-top: 8px; padding: 0 5px 0 15px;"
                               title=" Ο λογαριασμός μου">
                                <i style="color:#ffffff" class="fas fa-user-lock"></i>
                                <span class="link-text" style="visibility:hidden">.</span>
                            </a>
                        {% endif %}
                    </li>
                    <li style="padding: 0;">
                        <a href="{{ path('wishlist_view') }}" class="wishlist-link"
                           style="margin-top: 8px; padding: 0 5px 0 5px;" title=" Wishlist">
                            {#<i style="color:#ffffff" class="fas fa-heart wishlist-link"></i>#}
                            <img style="width:40px;" src="{{ asset('images/icons/anosia-icons-heart.png') }}">
                            <span class="link-text" style="visibility:hidden">.</span>
                            {% if (totalWishlistItems > 0) %}
                                {% set display = 'inline' %}
                            {% else %}
                                {% set display = 'none' %}
                            {% endif %}
                            <span id="wishlist-total-items" class="count-baloon"
                                  style="display:{{ display }};">
                                {{ totalWishlistItems }}
                            </span>
                        </a>
                    </li>
                    <li style="padding: 0;">
                        <a data-toggle="collapse" href="#collapseVoucher" aria-expanded="false"
                           aria-controls="collapseVoucher"
                           style="margin-top: 8px; padding: 0 5px 0 5px;"
                           class="cart-link"
                           title=" Παρακολούθηση Παραγγελίας">
                            {#<i style="color:#ffffff" class="fas fa-truck-moving trucking-link"></i>#}
                            <img style="width:40px;" src="{{ asset('images/icons/anosia-icons-track.png') }}">
                            <span class="link-text" style="visibility:hidden">.</span>
                        </a>
                    </li>
                    <li style="padding: 0;" id="top-cart">
                        {#<a data-toggle="collapse" href="#collapseCart" aria-expanded="false"#}
                        <a href="#" style="margin-top: 8px; padding: 0 5px 0 5px;"
                           class="cart-link toggle-cart-sidebar"
                           title="Καλάθι">
                            {#<i style="color:#ffffff" class="fas fa-shopping-cart cart-link"></i>#}
                            <img style="width:40px;" src="{{ asset('images/icons/anosia-icons-cart.png') }}">
                            <span class="link-text" style="visibility:hidden">.</span>
                            {% if (totalCartItems > 0) %}
                                {% set display = 'inline' %}
                            {% else %}
                                {% set display = 'none' %}
                            {% endif %}
                            <span id="cart-total-items" class="count-baloon"
                                  style="display:{{ display }};">
                                {{ totalCartItems }}
                            </span>
                        </a>
                    </li>
                    </ul>-->
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="post-header-wrap col-xs-12 col-md-12" style="padding: 0;">
                {% include 'partials/top_menu.html.twig' %}
            </div>
            <!--
            <div class="col-xs-12 col-md-4 hidden-xs social-header" style="vertical-align: middle; text-align: right; padding-left: 0;">
                {#<a href="https://plus.google.com/u/0/118177816495130950018" target="_blank">#}
                    {#<i class="fab fa-google-plus-square social-top"></i>#}
                {#</a>#}
                <a href="https://twitter.com/AnosiaPharmacy" target="_blank">
                    <img src="{{ asset('images/icons/twitter-green.png') }}" />
                    {#<i class="fab fa-twitter-square social-top"></i>#}
                </a>
                <a href="mailto:info@anosiapharmacy.gr" target="_blank">
                    <img src="{{ asset('images/icons/mail-green.png') }}" />
                    {#<i class="fas fa-envelope-square social-top"></i>#}
                </a>
                <a href="https://www.instagram.com/anosiapharmacy.gr/" target="_blank">
                    <img src="{{ asset('images/icons/instagram-green.png') }}" />
                    {#<i class="fab fa-instagram social-top"></i>#}
                </a>
                <a href="https://www.facebook.com/AnosiaPharmacy" target="_blank">
                    <img src="{{ asset('images/icons/fb-green.png') }}" />
                    {#<i class="fab fa-facebook-square social-top"></i>#}
                </a>
            </div>-->
        </div>
    </div>
</header>