<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Index</title>
<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet">
<link href="{{ asset('style.css') }}" rel="stylesheet" />
{#<link href="{{ asset('build/css/style.css') }}" rel="stylesheet" />#}
<!--[if lt IE 9]><script src="{{ asset('build/js/ie8-responsive-file-warning.js') }}"></script><![endif]-->
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
{#<script src="js/ie10-viewport-bug-workaround.js"></script>#}
{#<script src="js/ie-emulation-modes-warning.js"></script>#}
<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
<script src="{{ asset('build/js/html5shiv.min.js') }}"></script>
<script src="{{ asset('build/js/respond.min.js') }}"></script>
<![endif]-->
<link rel="apple-touch-icon-precomposed icon" sizes="144x144" href="{{ asset('build/images/apple-touch-icon-144-precomposed.png') }}">
<link rel="shortcut icon" href="{{ asset('images/favicon.ico') }}">