<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Index</title>
{#<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css">#}
<link href="{{ asset('build/css/home.css') }}" rel="stylesheet" />
{#<link href="{{ asset('build/css/style.css') }}" rel="stylesheet" />#}
<!--[if lt IE 9]><script src="{{ asset('build/js/ie8-responsive-file-warning.js') }}"></script><![endif]-->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
{#<script src="js/ie10-viewport-bug-workaround.js"></script>#}
{#<script src="js/ie-emulation-modes-warning.js"></script>#}
<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
<script src="{{ asset('build/js/html5shiv.min.js') }}"></script>
<script src="{{ asset('build/js/respond.min.js') }}"></script>
<![endif]-->
{#<link rel="apple-touch-icon-precomposed icon" sizes="144x144" href="{{ asset('build/images/apple-touch-icon-144-precomposed.png') }}">#}
<link rel="shortcut icon" href="{{ asset('images/favicon.ico') }}">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
{#<link href="{{ asset('build/css/jquery-ui.css') }}" rel="stylesheet" />#}
<link href="{{ asset('build/css/style.css') }}" rel="stylesheet" />
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
