<div class="well">
    <div class="cart-list">
        {% set cartSubTotal = 0 %}
        {% if cartItems|length > 0 %}
            {% for pr in cartItems %}
                <div class="media">
                    <div class="media-left"><a href="#">
                            <img class="media-object" src="{{ pr.imageUrl }}" alt="..."></a>
                    </div>
                    <div class="media-body">
                        <h5>{{ pr.name }}</h5>
                        {#<div class="star-rating">#}
                        {#<i class="fa fa-star"></i>#}
                        {#<i class="fa fa-star"></i><i class="fa fa-star"></i>#}
                        {#<i class="fa fa-star"></i><i class="fa fa-star-o"></i>#}
                        {#</div>#}
                        <div class="clearfix">
                            <div class="qty-box">
                                <input class="form-control stepper" type="number" value="{{ pr.quantity }}" min="1" max="{{ pr.remainNotReserved }}"/>
                            </div>
                            <div class="cart-item-price">{{ pr.webPrice|number_format(2, ',', '.') }}€</div>
                        </div>
                        <a href="{{ path('delete_cart_item', {'id':pr.cartId}) }}" class="remove-item">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                {% set cartSubTotal = cartSubTotal + pr.webPrice*pr.quantity %}
            {% endfor %}
        {% else %}
            Δεν υπάρχουν προϊόντα στο καλάθι σας
        {% endif %}
    </div>
    <div class="cart-total clearfix">
        Σύνολο: <span>{{ cartSubTotal|number_format(2, ',', '.') }}€</span>
    </div>
    <div class="row btns">
        <div class="col-xs-10 col-xs-offset-1">
            <a href="{{ path('cart_view') }}" class="btn btn-default btn-block">Καλαθι</a>
        </div>
    </div>
</div>