<div class="pre-header">
    <div class="container nopaddings">
        <div class="pre-header-wrap clearfix">

            <div class="pre-header-left hidden-xs">
                <ul>
                    <li style="max-width: 50px;">
                        <a data-toggle="collapse" href="#collapseTimetable"
                           aria-expanded="false"
                           aria-controls="collapseTimetable"
                           style="margin-top: 8px; padding: 0 5px 0 15px;"
                           class="cart-link"
                           title="Ωράριο Λειτουργίας">
                            <i style="color:#ffffff" class="far fa-clock"></i>
                        </a>
                    </li>
                    <li>
                        <a style="color:#ffffff; font-weight: bold;" class="phone-link" href="javascript:void(0)">
                            <i style="color:#ffffff" class="fas fa-phone"></i>
                            210 94 02 027</a>
                    </li>
                    <li>
                        <div style="padding-top: 8px; text-align: center; color: #ffffff; font-weight: bold;">
                            {#<i class="fas fa-truck"></i> #} ΔΩΡΕΑΝ ΜΕΤΑΦΟΡΙΚΑ ΓΙΑ ΠΑΡΑΓΓΕΛΙΕΣ ΑΝΩ
                            ΤΩΝ 39€
                        </div>
                    </li>
                </ul>
                <div class="timetable-dropdown collapse" id="collapseTimetable"
                     style="padding: 10px;">
                    <h4>ΩΡΑΡΙΟ ΛΕΙΤΟΥΡΓΙΑΣ</h4>
                    <div>Δε & Τε: 08:00 - 14:30</div>
                    <div>Τρ-Πε-Πα: 08:00 - 14:00</div>
                    <div>17:00 - 20:00</div>
                </div>
            </div>
            <div class="pre-header-left visible-xs" style="background-color: #4fa56e; padding-top: 10px; color:#ffffff;">
                {#<ul>#}
                <div class="col-12" style="text-align: center; padding-bottom: 10px;">
                    <h4>ΩΡΑΡΙΟ ΛΕΙΤΟΥΡΓΙΑΣ</h4>
                    <div style="font-weight: bold;">Δε & Τε: 08:00 - 14:30<br>Τρ-Πε-Πα: 08:00 - 14:00 & 17:00 - 20:00
                    </div>
                    <div style="font-weight: bold;">
                        <a href="tel:2109402027" style="color:#ffffff;">
                            <i class="fas fa-phone" style="color:#ffffff;"></i>
                        210 94 02 027</a>
                    </div>
                </div>
                <div class="row mobile-social-container" style="margin-right: auto; margin-left: auto; background-color: #ffffff; padding: 10px; text-align: center">
                    <a href="https://www.facebook.com/AnosiaPharmacy" target="_blank">
                        <img src="{{ asset('images/icons/fb-green.png') }}" />
                        {#<i class="fab fa-facebook-square social-top"></i>#}
                    </a>
                    <a href="https://www.instagram.com/anosiapharmacy.gr/" target="_blank">
                        <img src="{{ asset('images/icons/instagram-green.png') }}" />
                        {#<i class="fab fa-instagram social-top"></i>#}
                    </a>
                    <a href="https://twitter.com/AnosiaPharmacy" target="_blank">
                        <img src="{{ asset('images/icons/twitter-green.png') }}" />
                        {#<i class="fab fa-twitter-square social-top"></i>#}
                    </a>
                    {#<a href="https://plus.google.com/u/0/118177816495130950018" target="_blank">#}
                        {#<i class="fab fa-google-plus-square social-top"></i>#}
                    {#</a>#}
                    <a href="mailto:info@anosiapharmacy.gr" target="_blank">
                        <img src="{{ asset('images/icons/mail-green.png') }}" />
                        {#<i class="fas fa-envelope-square social-top"></i>#}
                    </a>
                </div>
                <div class="col-12" style="padding: 10px; text-align: center; color: #ffffff; font-weight: bold;">
                    {#<i class="fa fa-truck"></i>#}
                    ΔΩΡΕΑΝ ΜΕΤΑΦΟΡΙΚΑ ΓΙΑ ΠΑΡΑΓΓΕΛΙΕΣ ΑΝΩ ΤΩΝ 39€
                </div>
                {#</ul>#}
            </div>

            <div class="pre-header-right">
                <ul>
                    <li>
                        {% if loggedUser == null %}
                            {#{% set accountUrl = '#' %}#}
                            {#{% set sideClass = 'toogle-sidebar' %}#}
                            <a href="#" class="account-link toggle-sidebar"
                               style="margin-top: 8px; padding: 0 5px 0 15px;"
                               title=" Ο λογαριασμός μου">
                                <i style="color:#ffffff" class="fas fa-user account-link"></i>
                                <span class="link-text" style="visibility:hidden">.</span>
                            </a>
                        {% else %}
                            {#{% set accountUrl = 'user_account' %}#}
                            {#{% set sideClass = '' %}#}
                            <a class="account-link"
                               data-toggle="collapse" href="#collapseUser" aria-expanded="false"
                               aria-controls="collapseUser"
                               style="margin-top: 8px; padding: 0 5px 0 15px;"
                               title=" Ο λογαριασμός μου">
                                <i style="color:#ffffff" class="fas fa-user-lock"></i>
                                <span class="link-text" style="visibility:hidden">.</span>
                            </a>
                        {% endif %}
                    </li>
                    <li>
                        <a href="{{ path('wishlist_view') }}" class="wishlist-link"
                           style="margin-top: 8px; padding: 0 5px 0 15px;" title=" Wishlist">
                            <i style="color:#ffffff" class="fas fa-heart wishlist-link"></i>
                            <span class="link-text" style="visibility:hidden">.</span>
                            {% if (totalWishlistItems > 0) %}
                                {% set display = 'inline' %}
                            {% else %}
                                {% set display = 'none' %}
                            {% endif %}
                            <span id="wishlist-total-items" class="count-baloon"
                                  style="display:{{ display }};">
                                {{ totalWishlistItems }}
                            </span>
                        </a>
                    </li>
                    <li>
                        <a data-toggle="collapse" href="#collapseVoucher" aria-expanded="false"
                           aria-controls="collapseVoucher"
                           style="margin-top: 8px; padding: 0 5px 0 15px;"
                           class="cart-link"
                           title=" Παρακολούθηση Παραγγελίας">
                            <i style="color:#ffffff" class="fas fa-truck-moving trucking-link"></i>
                            <span class="link-text" style="visibility:hidden">.</span>
                        </a>
                    </li>
                    <li id="top-cart">
                        {#<a data-toggle="collapse" href="#collapseCart" aria-expanded="false"#}
                        <a href="#" style="margin-top: 8px; padding: 0 5px 0 15px;"
                           class="cart-link toggle-cart-sidebar"
                           title="Καλάθι">
                            <i style="color:#ffffff" class="fas fa-shopping-cart cart-link"></i>
                            <span class="link-text" style="visibility:hidden">.</span>
                            {% if (totalCartItems > 0) %}
                                {% set display = 'inline' %}
                            {% else %}
                                {% set display = 'none' %}
                            {% endif %}
                            <span id="cart-total-items" class="count-baloon"
                                  style="display:{{ display }};">
                                {{ totalCartItems }}
                            </span>
                        </a>
                    </li>
                </ul>

                <div class="cart-dropdown collapse" id="collapseVoucher">
                    <div class="well" style="padding: 10px;">
                        Εισάγετε τον κωδικό voucher για να δείτε που βρίσκεται η παραγγελία σας.
                        <div class="search">
                            <div class="textbox">
                                <input id="voucher-input" class="form-control"
                                       style="background-color: #FFFFFF;padding: 6px 12px;"
                                       type="text" placeholder="Εισάγετε το voucher">
                            </div>
                            <button id="voucher-track-button" type="submit">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="cart-dropdown collapse" id="collapseUser">
                    <div class="well" style="padding: 10px;">
                            <div><a href="{{ path('user_account') }}">
                                    <i class="fas fa-cog"></i>
                                    Ο λογαριασμός μου
                                </a>
                            </div>
                            <div><a href="{{ path('logout') }}">
                                    <i class="fas fa-sign-out-alt"></i>
                                    Αποσύνδεση
                                </a>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="search-collapse collapse" id="collapseSearch">
        <div class="container">
            <div class="search-wrap">
                <a data-toggle="collapse" href="#collapseSearch" aria-expanded="false"
                   aria-controls="collapseSearch"
                   class="close-btn visible-lg visible-md visible-sm">Search</a>
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                        <div class="search">
                            <div class="textbox">
                                <input name="keyword" required class="form-control" type="text"
                                       placeholder="Αναζητήστε βάσει ονόματος, κωδικού ή barcode">
                            </div>
                            <button type="submit"><i class="fas fa-search"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>