<nav class="navbar navbar-default">
    <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
        <ul class="nav navbar-nav">
            <li><a href="#"><i class="fa fa-home active"></i>Αρχικη</a></li>
            <li class="dropdown mega-dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i
                            class="fa fa-shopping-bag"></i>Καταστημα</a>
                <div class="dropdown-menu mega-dropdown-menu">
                    <div class="menu-block">
                        <div class="row">
                            <div class="col-sm-5">
                                <div class="row">
                                    {% for ctg in categories %}
                                        {% if ctg.isVisible == "1" %}
                                            <div class="col-sm-6">
                                                <div class="sub-menu">
                                                    <h4><a href="{{ path('products_list', {'id':ctg.id}) }}">{{ ctg.name }}</a></h4>
                                                    {% if ctg.children %}
                                                        <ul>
                                                            {% for subctg in ctg.children %}
                                                                {% if subctg.isVisible == "1" %}
                                                                    <li><a href="{{ path('products_list', {'id':subctg.id}) }}">{{ subctg.name }}</a></li>
                                                                {% endif %}
                                                            {% endfor %}

                                                        </ul>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                    {#<div class="col-sm-6">#}
                                    {#<div class="sub-menu">#}
                                    {#<h4>Footware</h4>#}
                                    {#<ul>#}
                                    {#<li><a href="#">Sports Shoes</a></li>#}
                                    {#<li><a href="#">Casual Shoes</a></li>#}
                                    {#<li><a href="#">Formal Shoes</a></li>#}
                                    {#<li><a href="#">Sandals & Floaters</a></li>#}
                                    {#<li><a href="#">Flip- Flops</a></li>#}
                                    {#<li><a href="#">Loafers</a></li>#}
                                    {#<li><a href="#">Boots</a></li>#}
                                    {#<li><a href="#">Running Shoes</a></li>#}
                                    {#<li><a href="#">Sneakers</a></li>#}
                                    {#</ul>#}
                                    {#</div>#}
                                    {#<div class="sub-menu">#}
                                    {#<h4>Accessories</h4>#}
                                    {#<ul>#}
                                    {#<li><a href="#">Backpacks</a></li>#}
                                    {#<li><a href="#">Wallets</a></li>#}
                                    {#<li><a href="#">Belts</a></li>#}
                                    {#<li><a href="#">Sunglasses & Frames</a></li>#}
                                    {#<li><a href="#">Luggage & Travel</a></li>#}
                                    {#<li><a href="#">Jewellery</a></li>#}
                                    {#</ul>#}
                                    {#</div>#}
                                    {#</div>#}
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="menu-product-list">
                                    {% for pr in popular|slice(0, 4) %}
                                        <div class="media">
                                            <div class="media-left"><a href="#"><img
                                                            class="media-object"
                                                            src="{{ asset('images/product-1.jpg') }}"
                                                            alt="{{ pr.name }}"></a>
                                            </div>
                                            <div class="media-body">
                                                <h5>{{ pr.name }}</h5>
                                                {#<div class="star-rating"><i#}
                                                {#class="fa fa-star"></i><i#}
                                                {#class="fa fa-star"></i><i#}
                                                {#class="fa fa-star"></i><i#}
                                                {#class="fa fa-star"></i><i#}
                                                {#class="fa fa-star-o"></i></div>#}
                                                <div class="item-price">
                                                    <del>{{ pr.retailPrice }}€</del>
                                                    {{ pr.webPrice }}€
                                                </div>
                                                <a href="#" class="details-btn">ΠΕΡΙΣΣΟΤΕΡΑ</a>
                                            </div>
                                        </div>
                                    {% endfor %}

                                </div>
                            </div>
                            <div class="col-sm-3">
                                <ul class="menu-banner">
                                    <li><a href="#">
                                            <img src="{{ asset('images/brands/1.png') }}" alt="">
                                        </a>
                                    </li>
                                    <li><a href="#">
                                            <img src="{{ asset('images/brands/2.png') }}" alt="">
                                        </a>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-female"></i>Γυναικα</a>
                <ul class="dropdown-menu" role="menu">
                    {% for ctg in categories %}
                        {% if ctg.id == 1004 %}
                            {% for subctg in ctg.children %}
                                <li><a href="{{ path('products_list', {'id':subctg.id}) }}">{{ subctg.name }}</a></li>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i
                            class="fa fa-male"></i>Ανδρας</a>
                <ul class="dropdown-menu" role="menu">
                    {% for ctg in categories %}
                        {% if ctg.id == 1003 %}
                            {% for subctg in ctg.children %}
                                <li><a href="{{ path('products_list', {'id':subctg.id}) }}">{{ subctg.name }}</a></li>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </ul>
            </li>
            <li><a href="#"><i class="fa fa-gear"></i>Accessories</a></li>
            {#<li class="dropdown">#}
            {#<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i#}
            {#class="fa fa-child"></i>Kids</a>#}
            {#<ul class="dropdown-menu" role="menu">#}
            {#<li><a href="#">Boys' Clothing</a></li>#}
            {#<li><a href="#">Polos & T-Shirts</a></li>#}
            {#<li><a href="#">Ethnic Wear</a></li>#}
            {#<li><a href="#">Winter Wear</a></li>#}
            {#<li><a href="#">Girls' Clothing</a></li>#}
            {#<li><a href="#">Dresses & Skirts</a></li>#}
            {#<li><a href="#">Winter Wear</a></li>#}
            {#<li><a href="#">Baby Boy Clothing</a></li>#}
            {#<li><a href="#">Body Suits</a></li>#}
            {#<li><a href="#">Polos & T-Shirts</a></li>#}
            {#<li><a href="#">Baby Girl Clothing</a></li>#}
            {#<li><a href="#">Body Suits</a></li>#}
            {#<li><a href="#">Dresses</a></li>#}
            {#</ul>#}
            {#</li>#}
        </ul>
    </div>
</nav>