<div class="well">
    {% if cartItems|length > 0 %}
        <div class="cart-list">
            {% set cartSubTotal = 0 %}
            {% set counter = 0 %}
            {% for pr in cartItems %}
                {% if (counter < 3) %}
                <div class="media">
                    <div class="media-left"><a href="#">
                            <img class="media-object" src="{{ pr.imageUrl }}" alt="..."></a>
                    </div>
                    <div class="media-body">
                        <h5>{{ pr.name }}</h5>
                        {#<div class="star-rating">#}
                        {#<i class="fa fa-star"></i>#}
                        {#<i class="fa fa-star"></i><i class="fa fa-star"></i>#}
                        {#<i class="fa fa-star"></i><i class="fa fa-star-o"></i>#}
                        {#</div>#}
                        {% if (pr.maxByOrder > 0) %}
                            {% set maxItems = pr.maxByOrder %}
                        {% elseif (pr.webFree == 'true') %}
                            {% set maxItems = pr.remainNotReserved + pr.overAvailability %}
                        {% else %}
                            {% set maxItems = pr.remainNotReserved %}
                        {% endif %}
                        <div class="clearfix">
                            <div class="qty-box">
                                x {{ pr.quantity }}
                                {#<input class="form-control stepper" type="number"#}
                                       {#value="{{ pr.quantity }}" min="1" max="{{ maxItems }}"/>#}
                            </div>
                            <div class="cart-item-price">{{ pr.webPrice|number_format(2, ',', '.') }}€
                            </div>
                        </div>
                        <a href=""
                           data-id="{{ pr.cartId }}"
                           data-name="{{ pr.name }}"
                           class="remove-item">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                {% endif %}
                {% set counter = counter + 1 %}
                {% set cartSubTotal = cartSubTotal + (pr.webPrice|number_format(2, '.', ','))*pr.quantity %}
            {% endfor %}
        </div>
        {% if counter > 3 %}
            <div class="cart-total clearfix">
                Για να δείτε όλα τα προϊόντα του καλαθιού σας κάντε κλικ στο "ΚΑΛΑΘΙ"
            </div>
        {% endif %}
        <div class="cart-total clearfix">
            Σύνολο: <span>{{ cartSubTotal|number_format(2, ',', '.') }}€</span>
        </div>
        <div class="row btns">
            <div class="col-xs-10 col-xs-offset-1">
                <a href="{{ path('cart_view') }}" class="btn btn-default btn-block">Καλαθι</a>
            </div>
        </div>
    {% else %}
        <div class="media" style="padding: 20px 10px 10px 20px; font-size: 16px;">
            Δεν υπάρχουν προϊόντα στο καλάθι σας
        </div>
    {% endif %}
</div>