<div class="pre-header">
    <div class="container nopaddings">
        <div class="pre-header-wrap clearfix">
            {#<div class="pre-header-left">#}
            {#<ul>#}
            {#<li>#}
            {#<select class="c-select">#}
            {#<option>USD</option>#}
            {#<option>INR</option>#}
            {#<option>GBP</option>#}
            {#<option>EURO</option>#}
            {#</select>#}
            {#</li>#}
            {#<li>#}
            {#<select class="c-select">#}
            {#<option>ENG</option>#}
            {#<option>ESP</option>#}
            {#<option>RUS</option>#}
            {#<option>FR</option>#}
            {#</select>#}
            {#</li>#}
            {#</ul>#}
            {#</div>#}


            {#<div class="news-ticker visible-lg visible-md">#}
            {#<div class="ticker">#}
            {#<div class="label-back">LATEST</div>#}
            {#<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">#}
            {#<!-- Wrapper for slides -->#}
            {#<div class="carousel-inner" role="listbox">#}
            {#<div class="item active">Congue admodum dissentiet</div>#}
            {#<div class="item">Congue admodum dissentiet</div>#}
            {#</div>#}
            {#</div>#}
            {#</div>#}
            {#</div>#}

            <div class="pre-header-left hidden-xs">
                <ul>
                    <li><a data-toggle="collapse" href="#collapseTimetable" aria-expanded="false"
                           aria-controls="collapseTimetable"
                           style="margin-top: 8px; padding: 0 5px 0 15px;" class="cart-link"
                           title="Καλάθι">
                            <i class="far fa-clock"></i>
                        </a></li>
                    <li><a class="phone-link" href="tel:2109402027"><i class="fas fa-phone"></i> 210 94 02 027</a></li>
                    <li><i class="fas fa-truck"></i> ΔΩΡΕΑΝ ΜΕΤΑΦΟΡΙΚΑ ΓΙΑ ΠΑΡΑΓΓΕΛΙΕΣ ΑΝΩ ΤΩΝ 39€
                    </li>
                </ul>
                <div class="timetable-dropdown collapse" id="collapseTimetable" style="padding: 10px;">
                    <h4>ΩΡΑΡΙΟ ΛΕΙΤΟΥΡΓΙΑΣ</h4>
                    <div>Δε - Τε: 09:00 - 15:00</div>
                    <div>Τρ - Πε - Πα: 09:00 - 15:00</div>
                    <div>Σα: 09:00 - 15:00</div>
                </div>
            </div>
            <div class="pre-header-left visible-xs">
                <ul>
                    <li><a><i class="far fa-clock"></i> </a></li>
                    <li><a href="tel:2109402027"><i class="fas fa-phone"></i> 210 94 02 027</a></li>
                    <li style="width: 100%;"><i class="fa fa-truck"></i> ΔΩΡΕΑΝ ΜΕΤΑΦΟΡΙΚΑ ΓΙΑ
                        ΠΑΡΑΓΓΕΛΙΕΣ ΑΝΩ ΤΩΝ 39€
                    </li>
                </ul>
            </div>

            <div class="pre-header-right">
                <ul>
                    <li>
                        {% if loggedUser == null %}
                            {#{% set accountUrl = '#' %}#}
                            {#{% set sideClass = 'toogle-sidebar' %}#}
                            <a href="#" class="account-link toggle-sidebar"
                               style="margin-top: 8px; padding: 0 5px 0 15px;"
                               title=" Ο λογαριασμός μου">
                                <i class="fas fa-user account-link"></i>
                                <span class="link-text" style="visibility:hidden">.</span>
                            </a>
                        {% else %}
                            {#{% set accountUrl = 'user_account' %}#}
                            {#{% set sideClass = '' %}#}
                            <a href="{{ path('user_account') }}" class="account-link"
                               style="margin-top: 8px; padding: 0 5px 0 15px;"
                               title=" Ο λογαριασμός μου">
                                <i class="fas fa-user account-link"></i>
                                <span class="link-text" style="visibility:hidden">.</span>
                            </a>
                        {% endif %}
                    </li>
                    <li>
                        <a href="{{ path('wishlist_view') }}" class="wishlist-link"
                           style="margin-top: 8px; padding: 0 5px 0 15px;" title=" Wishlist">
                            <i class="fas fa-heart wishlist-link"></i>
                            <span class="link-text" style="visibility:hidden">.</span>
                            {% if (totalWishlistItems > 0) %}
                                {% set display = 'inline' %}
                            {% else %}
                                {% set display = 'none' %}
                            {% endif %}
                            <span id="wishlist-total-items" class="count-baloon"
                                  style="display:{{ display }};">
                                {{ totalWishlistItems }}
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="tracking-link"
                           style="margin-top: 8px; padding: 0 5px 0 15px;"
                           title=" Παρακολούθηση Παραγγελίας">
                            <i class="fas fa-truck-moving trucking-link"></i>
                            <span class="link-text" style="visibility:hidden">.</span>
                        </a>
                    </li>
                    <li id="top-cart">
                        {#<a data-toggle="collapse" href="#collapseCart" aria-expanded="false"#}
                        <a href="#" style="margin-top: 8px; padding: 0 5px 0 15px;" class="cart-link toggle-cart-sidebar"
                           title="Καλάθι">
                            <i class="fas fa-shopping-cart cart-link"></i>
                            <span class="link-text" style="visibility:hidden">.</span>
                            {% if (totalCartItems > 0) %}
                                {% set display = 'inline' %}
                            {% else %}
                                {% set display = 'none' %}
                            {% endif %}
                            <span id="cart-total-items" class="count-baloon"
                                  style="display:{{ display }};">
                                {{ totalCartItems }}
                            </span>
                        </a>
                    </li>
                </ul>


                {#<div class="cart-dropdown collapse" id="collapseCart">#}
                    {#{% include 'partials/top_cart.html.twig' %}#}
                {#</div>#}

            </div>
            {# <div class="well"> #}
            {# <div class="container nopaddings">
                <div class="search-wrap" style="margin-bottom: 15px;">
                    <a data-toggle="collapse" href="#collapseSearch" aria-expanded="false"
                    aria-controls="collapseSearch"
                    class="close-btn visible-lg visible-md visible-sm">Search</a>
                    <div class="row">
                        <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                            <div class="search">
                                <form action="{{ path('product_search') }}" method="post">
                                    <div class="textbox">
                                        <input name="keyword" required class="form-control" type="text" placeholder="Αναζητήστε βάσει κωδικού, ονόματος ή μάρκας" style="width: 100%;">
                                    </div>
                                    {#<div class="option-box">#}
            {#<select class="c-select">#}
            {#<option>All</option>#}
            {#<option>Women</option>#}
            {#<option>Men</option>#}
            {#<option>Juniors</option>#}
            {#<option>Kids</option>#}
            {#<option>Accessories</option>#}
            {#</select>#}
            {#</div>#}
            {# <button type="submit"><i class="fa fa-search"></i></button>
        </form>
    </div>
</div>
</div>
</div>
</div> #}
            {# </div> #}
        </div>
    </div>

    <div class="search-collapse collapse" id="collapseSearch">
        {# <div class="well"> #}
        <div class="container">
            <div class="search-wrap">
                <a data-toggle="collapse" href="#collapseSearch" aria-expanded="false"
                   aria-controls="collapseSearch"
                   class="close-btn visible-lg visible-md visible-sm">Search</a>
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                        <div class="search">
                            <form action="{{ path('product_search') }}" method="post">
                                <div class="textbox">
                                    <input name="keyword" required class="form-control" type="text"
                                           placeholder="Αναζητήστε βάσει κωδικού, ονόματος ή μάρκας">
                                </div>
                                {#<div class="option-box">#}
                                {#<select class="c-select">#}
                                {#<option>All</option>#}
                                {#<option>Women</option>#}
                                {#<option>Men</option>#}
                                {#<option>Juniors</option>#}
                                {#<option>Kids</option>#}
                                {#<option>Accessories</option>#}
                                {#</select>#}
                                {#</div>#}
                                <button type="submit"><i class="fas fa-search"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {# </div> #}
    </div>

</div>