<div class="filter-widget">
    <h3>ΚΑΤΑΣΚΕΥΑΣΤΕΣ</h3>
    <div class="content">
        <div class="brand-list clearfix">
            {% for brand in brands %}
                {#<label class="btn btn-primary brand-lbl">#}
                {#<input id="{{ brand.id }}" name="brands" class="brand-chk" type="checkbox" autocomplete="off">#}
                {#<img src="{{ brand.imageUrl }}" alt="">#}
                {#</label>#}
                {% set brandChecked = '' %}
                {% set brandIds = app.request.query.get('brands')|split('-') %}
                {% for brandId in brandIds %}
                    {% if brand.id == brandId %}
                        {% set brandChecked = 'checked' %}
                    {% endif %}
                {% endfor %}
                <div class="custom-cr">
                    <label>
                        <input {{ brandChecked }} id="{{ brand.id }}" type="checkbox" class="checkbox brand-chk">
                        <span>{{ brand.name }}</span>
                    </label>
                </div>
            {% endfor %}
        </div>
        <div class="text-right">
            <button id="brand-filter" type="button" class="btn btn-xs btn-default">ΕΦΑΡΜΟΓΗ</button>
        </div>
    </div>
</div>