<div class="side-widget wow zoomIn" data-wow-delay="0.3s">
    <h5>ειδικες προσφορες</h5>
    <div class="product-case">
        <div class="tag tag-red">
            <span>Sale</span>
        </div>
        <div class="product-img">
            <div class="hover-img">
                <img src="{{ pr.imageUrl }}" alt="">
            </div>
            <a href="#">
                <img src="{{ pr.imageUrl }}" alt="">
            </a>
        </div>
        <div class="hover-info">
            <div class="product-short-info">
                <div class="product-name">
                    <a href="#">{{ pr.name }}</a>
                </div>
                <div class="product-price">
                    <div class="product-price-span">{{ pr.webPrice }}€
                        <del>{{ pr.retailPrice }}€</del>
                    </div>
                </div>
                <button type="button"><i class="fa fa-cart-plus"></i><span>Στο καλαθι</span></button>
            </div>
        </div>
        <div class="product-short-info">
            <div class="product-name"><a href="#">{{ pr.name }}</a></div>
            <div class="product-price"><div class="product-price-span">{{ pr.webPrice }}€ <del>{{ pr.retailPrice }}€</del></div></div>
        </div>
    </div>
</div>