{% extends 'Admin/layout.html.twig' %}

{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('build/admin/css/daterangepicker.css') }}">
{% endblock %}

{% block title %}| Προσφορες{% endblock %}

{% block breadcrumb %}
    <div class="row">
        <div class="col-xl-12">
            <div class="breadcrumb-holder">
                <h1 class="main-title float-left">Προσφορες</h1>
                <ol class="breadcrumb float-right">
                    <li class="breadcrumb-item">Home</li>
                    <li class="breadcrumb-item active">Προσφορες</li>
                </ol>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!-- end row -->
{% endblock %}

{% block body %}
    {#MODAL#}
    <div class="modal fade custom-modal" tabindex="-1" role="dialog" aria-labelledby="modal_add_offer"
         aria-hidden="true"
         id="modal_add_offer">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"></h5>
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span
                                class="sr-only">Κλείσιμο</span></button>
                </div>
                <div class="modal-body"></div>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-sm-12">
        <div class="card mb-3">
            <div class="card-header">
                <span class="pull-right">
                    <button id="add-offer" class="btn btn-primary btn-sm">
                        <i class="fa fa-plus" aria-hidden="true"></i> Προσθήκη προσφοράς
                    </button>
                </span>
                <h3><i class="fa fa-fw fa-indent"></i> Προσφορες</h3>
            </div>

            <div id="add-offer" class="col-xs-12 col-sm-6" style="padding:20px;">
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label class="control-label required" for="slider_name">Επιλέξτε προϊόν</label>
                            <input class="form-control form-control" type="text" id="search-products"
                                   name="search-products">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="control-label required" for="slider_name">Ημερομηνία λήξης προσφοράς</label>
                            <input class="form-control form-control" type="text" id="latest-offer" name="latest-offer">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Αποθήκευση</button>
                </div>
            </div>

            <div class="card-body">

                <div class="table-responsive">
                    <table id="articles" class="table table-bordered table-hover display">
                        <thead>
                        <tr>
                            <th>Φωτογραφία</th>
                            <th>Προϊόν</th>
                            <th>Λήξη προσφοράς</th>
                            <th></th>
                        </tr>
                        </thead>

                        <tbody>
                        {% if offers|length > 0 %}
                            {% for offer in offers %}
                                <tr>
                                    <td><img alt="{{ offer.productName }}" class="img-fluid"
                                             style="max-width:150px; height:auto;"
                                             src="{{ offer.image }}"></td>
                                    <td>{{ offer.productName }}</td>
                                    <td>{{ offer.latestOffer|date('Y-m-d H:i') }}</td>
                                    <td>
                                        <a id="delete-offer" href="" data-name="{{ offer.productName }}"
                                           data-id="{{ offer.id }}" class="btn btn-danger btn-sm pull-right"
                                           data-placement="top"
                                           data-toggle="tooltip" data-title="Delete">
                                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                                        </a>
                                        <a href=""
                                           class="btn btn-primary btn-sm pull-right edit-offer">
                                            <i class="fa fa-pencil" aria-hidden="true"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td colspan="5">
                                    <h5>Δεν υπάρχουν διαθέσιμες προσφορές</h5>
                                </td>
                            </tr>
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>

        </div><!-- end card-->
    </div>
    <!-- end col -->

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script src="{{ asset('build/admin/js/latest-offers.js') }}"></script>
{% endblock %}