{% extends 'layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .product-case .product-name {
            font-size: 14px;
            min-height: 40px;
        }
    </style>

{% endblock %}
{% block bodyId %}category{% endblock %}
{% block title %}Products List{% endblock %}
{% block slider %}{% endblock %}
{% block breadcrumb %}

{% endblock %}

{% block body %}
    <div id="mainWrapper">
        {% include 'partials/sidebar_login.html.twig' %}
        {% include 'partials/swipe_menu.html.twig' %}
        {% include 'partials/site_header.html.twig' %}
        <div class="page-header">
            <div class="container">
                <div class="row">
                    <div class="col-md-12"><h1>{{ ctgInfo.name }}</h1></div>
                </div>
            </div>
        </div>
        {% if slider|length > 0 %}
            {% include 'products/modules/category_slider.html.twig' %}
        {% endif %}
        {% if (ctgInfo.children is not empty) %}
            {% include 'products/modules/top_categories.html.twig' %}
        {% endif %}
        <div class="section" style="background-image:url({{ asset('images/bg-5.jpg') }});">
            <div class="container">
                {% for message in app.flashes('notice') %}
                    <div class="flash-notice">
                        {{ message }}
                    </div>
                {% endfor %}
                <div class="row reverse-row">
                    <div class="col-md-9 column">
                        <div class="product-list">
                            <h2>{{ ctgInfo.name }}
                                {#{% set from = (products.currentPageNumber-1)*12 + 1 %}#}
                                {#{% set to = (products.currentPageNumber*12) %}#}
                                {#<span>(Εμφάνιση {{ from }} – {{ to }} προϊόντα σε σύνολο {{ products.getTotalItemCount }})</span>#}Εμφανιση
                            </h2>
                            <div class="sorting-head clearfix">
                                {#{{ dump(products.items.name) }}#}
                                {#<table>#}
                                {#<tr>#}
                                {# sorting of properties based on query components #}
                                {#<th>{{ knp_pagination_sortable(products, 'Id', 'a.id') }}</th>#}
                                {#<th{% if products.isSorted('products.Title') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(products, 'Title', 'a.title') }}</th>#}
                                {#<th>{{ knp_pagination_sortable(products, 'Release', ['products.date', 'products.time']) }}</th>#}
                                {#</tr>#}
                                {#</table>#}
                                <div class="row">
                                    <div class="col-sm-6 col-md-7 visible-lg visible-md  visible-sm">
                                        <div class="btn-group">
                                            <a href="#" id="list" class="btn btn-default btn-sm"><i
                                                        class="fa fa-th-large"></i></a>
                                            <a href="#" id="grid" class="btn btn-default btn-sm"><i
                                                        class="fa fa-th-list"></i></a>
                                        </div>
                                    </div>
  z                                  <div class="col-sm-6 col-md-5">
                                        <div class="row">
                                            <div class="col-xs-6 pull-right"> {# <== pull right tbd #}

                                                <select name="sorting" id="sorting" class="c-select">
                                                    {#{{ knp_pagination_sortable(products, 'Όνομα Α->Ω', 'products.name', {}, {'direction': 'asc'}) }}#}
                                                    {#{{ knp_pagination_sortable(products, ' Ω->Α', 'a.name', {}, {'direction': 'desc'}) }}#}
                                                    {#{{ knp_pagination_sortable(products, 'Τιμή Φθίνουσα', '[webPrice]', {}, {'direction': 'desc'}) }}#}
                                                    <option data-sort="NameAsc">Όνομα Α->Ω</option>
                                                    <option data-sort="NameDesc">Όνομα Ω->Α</option>
                                                    <option data-sort="WebPriceAsc">Τιμή Αύξουσα</option>
                                                    <option data-sort="NameDesc">Τιμή Φθίνουσα</option>
                                                    <option>Highest rated</option>
                                                </select>
                                            </div>
                                            {#<div class="col-xs-6">#}
                                                {#<select name="maxItemPerPage" class="c-select">#}
                                                    {#<option data-url="{{ app.request.uri }}" value="12">12 προϊόντα</option>#}
                                                    {#<option data-url="{{ app.request.uri }}" value="18">18 προϊόντα</option>#}
                                                    {#<option data-url="{{ app.request.uri }}" value="24">24 προϊόντα</option>#}
                                                    {#<option data-url="{{ app.request.uri }}" value="30">30 προϊόντα</option>#}
                                                {#</select>#}
                                            {#</div>#}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="products" class="row list-group list-products">
                                {% for pr in products %}
                                    <div class="item col-lg-4 col-md-6 col-sm-6 wow fadeIn"
                                         data-wow-delay="0.4s">
                                        <div class="product-case">
                                            <div class="tag tag-green"><span>new</span></div>
                                            <div class="product-img">
                                                <div class="hover-img"><img src="{{ pr.imageUrl }}"
                                                                            alt="{{ pr.name }}">
                                                </div>
                                                <a href="{{ path('product_view', {'id':pr.id}) }}"><img
                                                            src="{{ pr.imageUrl }}"
                                                            alt="{{ pr.name }}"></a>
                                            </div>
                                            <div class="hover-info">
                                                <div class="product-short-info">
                                                    <div class="product-name"><a
                                                                href="{{ path('product_view', {'id':pr.id}) }}">{{ pr.name }}</a>
                                                    </div>
                                                    {#<div class="star"><i class="fa fa-star"></i><i#}
                                                    {#class="fa fa-star"></i><i#}
                                                    {#class="fa fa-star"></i><i class="fa fa-star"></i><i#}
                                                    {#class="fa fa-star"></i><i class="fa fa-star-o"></i>#}
                                                    {#</div>#}
                                                    <div class="product-price">
                                                        <div class="product-price-span">{{ pr.webPrice|number_format(2, ',', '.') }}
                                                            €
                                                            <del>{{ pr.retailPrice|number_format(2, ',', '.') }}€</del>
                                                        </div>
                                                    </div>
                                                    {% if pr.outOfStock == "false" %}
                                                        <button type="button" class="add-to-cart" data-id="{{ pr.id }}"
                                                                data-name="{{ pr.name }}">
                                                            <i class="fa fa-cart-plus"></i><span>καλαθι</span>
                                                        </button>
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="product-short-info">
                                                <div class="product-name">
                                                    <a href="{{ path('product_view', {'id':pr.id}) }}">{{ pr.name }}</a>
                                                </div>
                                                {#<div class="star"><i class="fa fa-star"></i><i class="fa fa-star"></i><i#}
                                                {#class="fa fa-star"></i><i class="fa fa-star"></i><i#}
                                                {#class="fa fa-star"></i><i class="fa fa-star-o"></i></div>#}
                                                <div class="product-price">
                                                    <div class="product-price-span">{{ pr.webPrice|number_format(2, ',', '.') }}
                                                        €
                                                        <del>{{ pr.retailPrice|number_format(2, ',', '.') }}€</del>
                                                    </div>
                                                </div>
                                                <div>
                                                    <span itemprop="offers" itemscope=""
                                                          itemtype="https://schema.org/Offer"
                                                          class="availability">
                                                        {% if (pr.remainNotReserved > "0" or pr.webFree == "true") and pr.outOfStock == "false" %}
                                                            <span class="available-now">
                                                                <link itemprop="availability"
                                                                      href="https://schema.org/InStock">
                                                                In Stock
                                                            </span>
                                                        {% else %}
                                                            <span class="out-of-stock">
                                                                <link itemprop="availability"
                                                                      href="https://schema.org/InStock">
                                                                Out of Stock
                                                            </span>
                                                        {% endif %}
                                                    </span>
                                                </div>
                                                <button type="button">
                                                    <i class="fa fa-cart-plus"></i>
                                                    <span>Add to Cart</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                            <nav aria-label="Page navigation">
                                {#{{ knp_pagination_render(products) }}#}
                                <ul class="pagination" style="text-align: center;">
                                    <li>
                                        <a href="#" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                    <li class="active"><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                    <li>
                                        <a href="#" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-md-3 column">
                        {% if (ctgInfo.children is not empty and ctgInfo.lvl > 2) %}
                            {% include 'products/modules/aside_category.html.twig' %}
                        {% endif %}
                        {% include 'products/modules/aside_price_filter.html.twig' %}
                        {% include 'products/modules/aside_shop_by_brand.html.twig' %}
                        {#{% include 'products/modules/aside_color_filter.html.twig' %}#}
                        {#{% include 'products/modules/aside_size.html.twig' %}#}
                        {% include 'products/modules/aside_discount.html.twig' %}
                        {% if (ctgInfo.children) %}
                            {#{% include 'products/modules/aside_category.html.twig' %}#}
                        {% endif %}
                        {% include 'products/modules/aside_clearance_sale.html.twig' %}
                        {% include 'products/modules/aside_best_sellers.html.twig' %}
                    </div>
                </div>
                {% include 'products/modules/bottom_product_tabs.html.twig' %}
                {#{% include 'products/modules/bottom_category_slider.html.twig' %}#}
                {#{% include 'products/modules/bottom_gallery_and_brands.html.twig' %}#}
                {#{% include 'products/modules/bottom_banners.html.twig' %}#}
            </div>
        </div>
        {% include 'home_page_modules/14_newsletter.html.twig' %}
        {% include 'home_page_modules/15_social.html.twig' %}
        {% include 'partials/footer.html.twig' %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/js/product-list.js') }}"></script>
{% endblock %}