{% extends 'layout.html.twig' %}

{% block bodyId %}category{% endblock %}
{% block title %} | Αποτελέσματα αναζήτησης{% endblock %}
{% block slider %}{% endblock %}
{% block breadcrumb %}

{% endblock %}

{% block body %}
    <div id="mainWrapper">
        {% include 'partials/sidebar_login.html.twig' %}
        {% include 'partials/sidebar_cart.html.twig' %}
        {% include 'partials/swipe_menu.html.twig' %}
        {% include 'partials/site_header.html.twig' %}
        <div class="page-header">
            <div class="container">
                <div class="row">
                    <div class="col-md-12"><h1>Αναζητήσατε με κριτήρια "{{ keyword }}"</h1></div>
                </div>
            </div>
        </div>
        <div class="section" style="background-image:url({{ asset('images/bg-5.jpg') }});">
            <div class="container">
                {% for message in app.flashes('notice') %}
                    <div class="flash-notice">
                        {{ message }}
                    </div>
                {% endfor %}
                <div class="row reverse-row">
                    <div class="col-md-9 column">
                        <div class="product-list">
                            {% if (productsCount > 0) %}
                                <div class="sorting-head clearfix">
                                    <div class="row">
                                        <div class="col-sm-6 col-md-7 visible-lg visible-md  visible-sm">
                                            <div class="btn-group">
                                                <a href="#" id="list" class="btn btn-default btn-sm">
                                                    <i class="fas fa-th-large"></i>
                                                </a>
                                                <a href="#" id="grid" class="btn btn-default btn-sm">
                                                    <i class="fas fa-th-list"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-5">
                                            <div class="row">
                                                <div class="col-xs-6 pull-right"> {# <== pull right tbd #}
                                                    <select name="sorting" id="sorting" class="c-select">
                                                        {% set sortArr = {
                                                            'Όνομα Α->Ω':'NameAsc',
                                                            'Όνομα Ω->Α':'NameDesc',
                                                            'Τιμή Αύξουσα':'WebPriceAsc',
                                                            'Τιμή Φθίνουσα':'WebPriceDesc',
                                                        } %}
                                                        {% for key, value in sortArr %}
                                                            {% if sortBy == value %}
                                                                {% set selected='selected' %}
                                                            {% else %}
                                                                {% set selected='' %}
                                                            {% endif %}
                                                            <option {{ selected }}value="{{ value }}">{{ key }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                                <div class="col-xs-6">
                                                    <select id="maxItemPerPage"
                                                            name="maxItemPerPage" class="c-select">
                                                        {% set paginationArr = [12, 18, 24, 30] %}
                                                        {% for value in paginationArr %}
                                                            {% if pagesize == value %}
                                                                {% set selected='selected' %}
                                                            {% else %}
                                                                {% set selected='' %}
                                                            {% endif %}
                                                            <option {{ selected }}value="{{ value }}">{{ value }} προϊόντα
                                                            </option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="products" class="row list-group list-products">
                                    {% for pr in pagination %}
                                        <div class="item col-lg-4 col-md-6 col-sm-6 wow fadeIn"
                                             data-wow-delay="0.4s">
                                            <div class="product-case">
                                                {% if pr.isNew == 'new' %}
                                                    <div class="tag tag-green"><span>new</span>
                                                    </div>
                                                {% endif %}
                                                <div class="product-img">
                                                    <a href="{{ path('product_view', {'slug': pr.slug}) }}">
                                                        <img src="{{ asset(pr.imageUrl) }}" alt="{{ pr.name }}">
                                                    </a>
                                                </div>
                                                <div class="hover-info">
                                                    <div class="product-short-info">
                                                        <div class="product-name">
                                                            {% if pr.summary|length > 0 %}
                                                                {% set hoverText = pr.summary|truncate(110, true)|raw %}
                                                            {% else %}
                                                                {% set hoverText = pr.name|title|truncate(90, true)|raw %}
                                                            {% endif %}
                                                            <a href="{{ path('product_view', {'slug': pr.slug}) }}">{{ hoverText }}</a>
                                                        </div>
                                                        <div class="product-price">
                                                            <div class="product-price-span">
                                                                Κωδ. {{ pr.prCode }}
                                                            </div>
                                                        </div>
                                                        {% if pr.outOfStock == "false" and (pr.remainNotReserved|number_format() > 0 or pr.webFree == "true") %}
                                                            <button type="button"
                                                                    class="add-to-cart"
                                                                    data-id="{{ pr.id }}"
                                                                    data-name="{{ pr.name }}">
                                                                <i class="fas fa-cart-plus"></i><span>στο καλαθι</span>
                                                            </button>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                                <div class="product-short-info">
                                                    <div class="product-name">
                                                        <a href="{{ path('product_view', {'slug': pr.slug}) }}">{{ pr.name|title }}</a>
                                                    </div>
                                                    <div class="product-price">
                                                        <div class="product-price-span">{{ pr.webPrice|number_format(2, ',', '.') }}€
                                                            <del>{{ pr.retailPrice|number_format(2, ',', '.') }}€</del>
                                                        </div>
                                                    </div>
                                                    <div>
                                                        <span itemprop="offers" itemscope=""
                                                              itemtype="https://schema.org/Offer"
                                                              class="availability">
                                                            {% if pr.outOfStock == "false" and (pr.remainNotReserved|number_format() > 0 or pr.webFree == "true") %}
                                                                <span class="available-now">
                                                                    <link itemprop="availability" href="https://schema.org/InStock">
                                                                    Διαθέσιμο
                                                                </span>
                                                            {% else %}
                                                                <span class="out-of-stock">
                                                                    <link itemprop="availability" href="https://schema.org/InStock">
                                                                    Μη διαθέσιμο
                                                                </span>
                                                            {% endif %}
                                                        </span>
                                                    </div>
                                                    <button type="button">
                                                        <i class="fa fa-cart-plus"></i>
                                                        <span>Add to Cart</span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                                {% if priceRange == 'null' %}
                                    <input type="hidden" name="lowPrice" value="1">
                                    <input type="hidden" name="highPrice" value="250">
                                {% else %}
                                    {% set priceRangeArr = priceRange|split('-') %}
                                    <input type="hidden" name="lowPrice" value="{{ priceRangeArr.0 }}">
                                    <input type="hidden" name="highPrice" value="{{ priceRangeArr.1 }}">
                                {% endif %}
                                {% if productsCount > pagesize %}
                                    <nav aria-label="Page navigation">
                                        {{ knp_pagination_render(pagination) }}
                                    </nav>
                                {% endif %}
                            {% else %}
                                <div class="col-12">
                                    Δεν υπάρχουν προϊόντα.
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-md-3 column">
                        <div class="filter-widget">
                            <h3 style="font-size: 16px; text-transform: none;">Αριθμός προϊόντων: {{ pagination.getTotalItemCount }}</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include 'home_page_modules/14_newsletter.html.twig' %}
        {% include 'partials/footer.html.twig' %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/js/product-list.js') }}"></script>
{% endblock %}