{% extends 'layout.html.twig' %}

{% block bodyId %}category{% endblock %}
{% block title %} | {{ pr.name }}{% endblock %}
{% block slider %}{% endblock %}
{#{% block stylesheets %}#}
    {#{{ parent() }}#}
    {#<link href="{{ asset('build/css/apex-slider.css') }}" rel="stylesheet"/>#}
{#{% endblock %}#}
{% block breadcrumb %}

{% endblock %}

{% block body %}
    <div id="mainWrapper">
        {% include 'partials/sidebar_login.html.twig' %}
        {% include 'partials/swipe_menu.html.twig' %}
        {% include 'partials/site_header.html.twig' %}
        <div class="page-header">
            <div class="container">
                <div class="row">
                    <div class="col-md-12"><h1>{{ pr.name }}</h1></div>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="container">
                <div class="col-xs-12">
                    {% for message in app.flashes('notice') %}
                        <div class="flash-notice">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
                <div class="row">
                    <div class="col-md-9 single-product">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="product-main-slider">
                                    <div class="slider">
                                        <div class="main-image">
                                            <ul class="bxslider">
                                                {% for image in pr.extraImages %}
                                                    <li><img src="{{ image.imageUrl }}" alt="{{ pr.name }}"/></li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                        <div class="owl-carousel owl-theme" id="bx-pager">
                                            {% for image in pr.extraImages %}
                                                <div class="item" style="text-align: center">
                                                    <a data-slide-index="{{ loop.index - 1 }}" href=""
                                                       style="border: 1px solid #d8d8d8;">
                                                        <img style="max-height: 95px; border:none;"
                                                             src="{{ image.imageUrl }}" alt="{{ pr.name }}"/>
                                                    </a>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6 wow fadeIn" data-wow-delay="0.3s">
                                <h2>{{ pr.name }}</h2>
                                <p> {{ pr.summary }}</p>
                                {#<ul class="rating">#}
                                {#<li><i class="fa fa-star"></i><i class="fa fa-star"></i>#}
                                {#<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></li>#}
                                {#<li><a href="#">(1 customer review)</a></li>#}
                                {#<li><a href="#">Write a Review </a></li>#}
                                {#</ul>#}

                                <div class="product-id">SKU : <span>{{ pr.mainBarcode }}</span>
                                </div>
                                <div class="product-price">{{ pr.webPrice|number_format(2, ',', '.') }}
                                    €
                                    <del>{{ pr.retailPrice|number_format(2, ',', '.') }}€</del>
                                    {% if pr.discount %}
                                        <div class="discount">-{{ pr.discount }}%</div>
                                    {% endif %}
                                </div>
                                <!-- content availability -->
                                <div class="product_attributes clearfix">
                                    <label>Διαθεσιμότητα:</label>
                                    <span itemprop="offers" itemscope=""
                                          itemtype="https://schema.org/Offer"
                                          class="availability">
                                        {% if (pr.remainNotReserved > "0" or pr.webFree == "true") and pr.outOfStock == "false" %}
                                        <span class="available-now">
                                            <link itemprop="availability"
                                                  href="https://schema.org/InStock">
                                            In Stock
                                        </span>
                                        {% else %}
                                        <span class="out-of-stock">
                                            <link itemprop="availability"
                                                  href="https://schema.org/InStock">
                                            Out of Stock
                                            {% endif %}
                                        </span>
                                    </span>
                                </div>
                                <!-- end content availabity -->

                                {% if (pr.maxByOrder > 0) %}
                                    {% set maxItems = pr.maxByOrder %}
                                {% elseif (pr.webFree == 'true') %}
                                    {% set maxItems = pr.remainNotReserved + pr.overAvailability %}
                                {% else %}
                                    {% set maxItems = pr.remainNotReserved %}
                                {% endif %}
                                <div class="variations_button">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <input id="add-quantity"
                                                       class="form-control stepper" type="number"
                                                       value="1" min="1"
                                                       max="{{ maxItems }}"/>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <ul>
                                                <li>
                                                    <button type="button"
                                                            class="add-to-wishlist"
                                                            data-id="{{ pr.id }}"
                                                            data-name="{{ pr.name }}">
                                                        <i class="fa fa-heart-o"></i>
                                                    </button>
                                                </li>
                                                {#<li><button type="button"><i class="fa fa-bell-o"></i></button></li>#}
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <div class="option_button form-group">
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <a href=""
                                               class="btn btn-primary btn-block add-to-cart"
                                               data-id="{{ pr.id }}"
                                               data-name="{{ pr.name }}">ΣΤΟ ΚΑΛΑΘΙ</a>
                                        </div>
                                        {#<div class="col-xs-6">#}
                                        {#<a href="#" class="btn btn-default btn-block">ΑΓΟΡΑΣΕ#}
                                        {#ΤΩΡΑ</a>#}
                                        {#</div>#}
                                    </div>
                                </div>
                                <div class="share"><img src="{{ asset('images/share.jpg') }}"
                                                        alt=""></div>

                                <div class="pin-widget visible-sm">
                                    <h5>Delivery</h5>
                                    <div class="content">
                                        <div class="pin-form">
                                            {#<form action="#">#}
                                            <div class="row no-margin">
                                                <div class="col-xs-8 no-padding"><input
                                                            type="text" class="form-control"
                                                            placeholder="Enter Pin Code"></div>
                                                <div class="col-xs-4 no-padding"><input
                                                            type="submit"
                                                            class="btn btn-primary btn-block"
                                                            value="CHECK"></div>
                                            </div>
                                            {#</form>#}
                                            <p class="text-center">
                                                <strong>Generally delivered by 5
                                                    days</strong></p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        {{ include('products/modules/product_view_tabs.html.twig') }}
                    </div>

                    <div class="col-md-3 sidebar visible-lg visible-md">
                        {#{% include 'products/modules/bside_delivery.html.twig' %}#}
                        {% include 'products/modules/bside_special_products.html.twig' %}
                        {% include 'products/modules/bside_clearance_sale.html.twig' %}
                        {#{% include 'products/modules/bside_other_info.html.twig' %}#}
                    </div>
                </div>
                {% include 'products/modules/product_view_related.html.twig' %}
                {#{% include 'products/modules/bottom_banners.html.twig' %}#}

            </div>
        </div>
        {% include 'home_page_modules/14_newsletter.html.twig' %}
        {% include 'home_page_modules/15_social.html.twig' %}
        {% include 'partials/footer.html.twig' %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/js/product-list.js') }}"></script>
{% endblock %}