{% extends 'Admin/layout.html.twig' %}

{% block stylesheet %}
    {{ parent() }}
    <!-- BEGIN CSS for this page -->
    <link href="{{ asset('build/admin/css/switchery.min.css') }}" rel="stylesheet" type="text/css"/>
    <style>
        .bigfonts {
            font-size: 30px;
            color: #4e4e4e;
        }
    </style>
    <!-- END CSS for this page -->
{% endblock %}

{% block title %}| Slider{% endblock %}

{% block breadcrumb %}
    <div class="row">
        <div class="col-xl-12">
            <div class="breadcrumb-holder">
                <h1 class="main-title float-left">Slider</h1>
                <ol class="breadcrumb float-right">
                    <li class="breadcrumb-item">Home</li>
                    <li class="breadcrumb-item active">Slider</li>
                </ol>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!-- end row -->
{% endblock %}

{% block body %}
    {#MODAL#}
    <div class="modal fade custom-modal" tabindex="-1" role="dialog" aria-labelledby="modal_add_slide"
         aria-hidden="true"
         id="modal_add_slide">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"></h5>
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span
                                class="sr-only">Κλείσιμο</span></button>
                </div>
                <div class="modal-body"></div>
            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">

            <div class="card mb-3">

                <div class="card-header">
                    <span class="pull-right">
                        <button id="add-slide" class="btn btn-primary btn-sm">
                            <i class="fa fa-plus" aria-hidden="true"></i> Προσθήκη νέου slide
                        </button>
                    </span>

                    <h3><i class="fa fa-image"></i> Slider</h3>
                </div>
                <!-- end card-header -->

                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <td style="width:20px">#</td>
                                <td style="width:150px">Image</td>
                                <td>Slide details</td>
                                <td style="width:100px;">Σειρά ταξινόμησης</td>
                                <td style="width:100px">Actions</td>
                            </tr>
                            </thead>
                            <tbody>

                            {% if modules|length > 0 %}
                                {% for module in modules %}
                                    <tr>
                                        <th>
                                            {{ loop.index }}
                                        </th>

                                        <td>
                                            <span style="float: left; margin-right:10px;">
                                                <img alt="image" class="img-fluid" style="max-width:150px; height:auto;"
                                                     src="assets/images/8b75635e-final-nature.png">
                                            </span>
                                        </td>

                                        <td>
                                            <h4>{{ module.name }}</h4>
                                        </td>
                                        <td style="text-align: center;">
                                            {{ module.priority }}
                                        </td>

                                        <td>
                                            <a id="edit-slide" data-id="1" href="#" class="btn btn-primary btn-sm">
                                                <i class="fa fa-pencil" aria-hidden="true"></i>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% endif %}
                            </tbody>
                        </table>
                    </div>


                </div>
                <!-- end card-body -->

            </div>
            <!-- end card -->

        </div>
        <!-- end col -->

    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script src="{{ asset('build/admin/js/slider.js') }}"></script>
{% endblock %}