<div class="left main-sidebar">

    <div class="sidebar-inner leftscroll">

        <div id="sidebar-menu">

            <ul>

                <li class="submenu">
                    <a class="active" href="{{ path('admin') }}"><i class="fa fa-fw fa-bars"></i><span> Dashboard </span> </a>
                </li>
                <li class="submenu">
                    <a href="{{ path('article_list') }}"><i class="fa fa-fw fa-indent"></i><span> Άρθρα </span> </a>
                </li>
                <li class="submenu">
                    <a href="{{ path('category_list') }}"><i class="fa fa-fw fa-indent"></i><span> Κατηγορίες </span> </a>
                </li>
                <li class="submenu">
                    <a href="{{ path('slider_list') }}"><i class="fa fa-fw fa-image"></i><span> Slider </span> </a>
                </li>
                <li class="submenu">
                    <a href="{{ path('category_slider') }}"><i class="fa fa-fw fa-image"></i><span> Slider Κατηγοριών </span> </a>
                </li>
                <li class="submenu">
                    <a href="{{ path('home_page_modules') }}"><i class="fa fa-fw fa-image"></i><span> Home Page Modules </span> </a>
                </li>
                <li class="submenu">
                    <a href="{{ path('admin_logout') }}"><i class="fa fa-fw fa-image"></i><span> Έξοδος </span> </a>
                </li>

            </ul>

            <div class="clearfix"></div>

        </div>

        <div class="clearfix"></div>

    </div>

</div>