<ul class="social">
    <li>
        <div class="social-btn">
            <a href="#">
                <div class="social-n">
                    <div class="table-div">
                        <div class="table-cell-div">
                            {#<i class="fa fa-twitter"></i>#}
                            {#<small>Follow Us on</small>#}
                            {#<span>Twitter</span>#}
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </li>
    <li>
        <div class="social-btn">
            <a href="#">
                <div class="social-n">
                    <div class="table-div">
                        <div class="table-cell-div">
                            {#<i class="fa fa-twitter"></i>#}
                            {#<small>Follow Us on</small>#}
                            {#<span>Twitter</span>#}
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </li>
    <li>
        <div class="social-btn">
            <a href="#">
                <div class="social-n">
                    <div class="table-div">
                        <div class="table-cell-div">
                            <img width="120" src="{{ asset('images/slider/mother-care.png') }}" alt="">
                            {#<small>Follow Us on</small>#}
                            {#<span>Μαμα & παιδι</span>#}
                        </div>
                    </div>
                </div>
                <div class="social-h">
                    <div class="table-div">
                        <div class="table-cell-div">
                            {#<img src="{{ asset('images/slider/mother-care.png') }}" alt="">#}
                            {#<small>Follow Us on</small>#}
                            <span>Μαμα & παιδι</span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </li>
    <li>
        <div class="social-btn">
            <a href="#">
                <div class="social-n">
                    <div class="table-div">
                        <div class="table-cell-div">
                            <img width="120" src="{{ asset('images/slider/sunblock.png') }}" alt="">
                        </div>
                    </div>
                </div>
                <div class="social-h">
                    <div class="table-div">
                        <div class="table-cell-div">
                            {#<img src="{{ asset('images/slider/mother-care.png') }}" alt="">#}
                            {#<small>Follow Us on</small>#}
                            <span>Αντιηλιακα</span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </li>
    <li>
        <div class="social-btn">
            <a href="#">
                <div class="social-n">
                    <div class="table-div">
                        <div class="table-cell-div">
                            <img width="120" src="{{ asset('images/slider/no_mosquitoes.png') }}" alt="">
                            {#<small>Follow Us on</small>#}
                            {#<span>Μαμα & παιδι</span>#}
                        </div>
                    </div>
                </div>
                <div class="social-h">
                    <div class="table-div">
                        <div class="table-cell-div">
                            {#<img src="{{ asset('images/slider/mother-care.png') }}" alt="">#}
                            {#<small>Follow Us on</small>#}
                            <span>Αντικουνουπικα</span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </li>
    <li>
        <div class="social-btn">
            <a href="#">
                <div class="social-n">
                    <div class="table-div">
                        <div class="table-cell-div">
                            <img width="120" src="{{ asset('images/slider/food-supplements.png') }}" alt="">
                            {#<small>Follow Us on</small>#}
                            {#<span>Μαμα & παιδι</span>#}
                        </div>
                    </div>
                </div>
                <div class="social-h">
                    <div class="table-div">
                        <div class="table-cell-div">
                            {#<img src="{{ asset('images/slider/mother-care.png') }}" alt="">#}
                            {#<small>Follow Us on</small>#}
                            <span>Συμπληρωματα</span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </li>
    <li>
        <div class="social-btn">
            <a href="#">
                <div class="social-n">
                    <div class="table-div">
                        <div class="table-cell-div">
                            <img width="120" src="{{ asset('images/slider/sunblock.png') }}" alt="">
                            {#<small>Follow Us on</small>#}
                            {#<span>Αντιηλιακα</span>#}
                        </div>
                    </div>
                </div>
                <div class="social-h">
                    <div class="table-div">
                        <div class="table-cell-div">
                            {#<img src="{{ asset('images/slider/mother-care.png') }}" alt="">#}
                            {#<small>Follow Us on</small>#}
                            <span>Αντιηλιακα</span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </li>
    <li>
        <div class="social-btn">
            <a href="#">
                <div class="social-n">
                    <div class="table-div">
                        <div class="table-cell-div">
                            <img width="120" src="{{ asset('images/slider/mother-care.png') }}" alt="">
                            {#<small>Follow Us on</small>#}
                            {#<span>Μαμα & παιδι</span>#}
                        </div>
                    </div>
                </div>
                <div class="social-h">
                    <div class="table-div">
                        <div class="table-cell-div">
                            {#<img src="{{ asset('images/slider/mother-care.png') }}" alt="">#}
                            {#<small>Follow Us on</small>#}
                            <span>Μαμα & παιδι</span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </li>
    <li>
        <div class="social-btn">
            <a href="#">
                <div class="social-n">
                    <div class="table-div">
                        <div class="table-cell-div">
                            {#<i class="fa fa-twitter"></i>#}
                            {#<small>Follow Us on</small>#}
                            {#<span>Twitter</span>#}
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </li>
    <li>
        <div class="social-btn">
            <a href="#">
                <div class="social-n">
                    <div class="table-div">
                        <div class="table-cell-div">
                            {#<i class="fa fa-twitter"></i>#}
                            {#<small>Follow Us on</small>#}
                            {#<span>Twitter</span>#}
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </li>
</ul>