{#<div class="section">#}
    {#<div style=" max-width: 800px;#}
  {#margin-right: auto;#}
  {#margin-left: auto;">#}
        <ul class="social" style="margin: 0;
padding: 0;
list-style-type: none;
text-align: center;">

            <li>
                <div class="social-btn">
                    <a href="#">
                        <div class="social-n">
                            <div class="table-div">
                                <div class="table-cell-div">
                                    <img src="{{ asset('images/mama-paidi-banner.jpg') }}" alt="">
                                    {#<small>Follow Us on</small>#}
                                    {#<span>Μαμα & παιδι</span>#}
                                </div>
                            </div>
                        </div>
                        <div class="social-h">
                            <div class="table-div">
                                <div class="table-cell-div">
                                    {#<img src="{{ asset('images/slider/mother-care.png') }}" alt="">#}
                                    <span>Μαμα & παιδι</span>
                                    <small>Εκπτώσεις σε όλα τα προϊόντα έως -55%</small>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </li>
            <li>
                <div class="social-btn">
                    <a href="#">
                        <div class="social-n">
                            <div class="table-div">
                                <div class="table-cell-div">
                                    <img src="{{ asset('images/antiliaka-banner.jpg') }}" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="social-h">
                            <div class="table-div">
                                <div class="table-cell-div">
                                    {#<img src="{{ asset('images/slider/mother-care.png') }}" alt="">#}
                                    <span>Αντιηλιακα</span>
                                    <small>Προστατευτείτε από τον ήλιο με εκπτώσεις έως -58%</small>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </li>
            <li>
                <div class="social-btn">
                    <a href="#">
                        <div class="social-n">
                            <div class="table-div">
                                <div class="table-cell-div">
                                    <img src="{{ asset('images/simpliromata-banner.jpg') }}" alt="">
                                    {#<small>Follow Us on</small>#}
                                    {#<span>Μαμα & παιδι</span>#}
                                </div>
                            </div>
                        </div>
                        <div class="social-h">
                            <div class="table-div">
                                <div class="table-cell-div">
                                    {#<img src="{{ asset('images/slider/mother-care.png') }}" alt="">#}
                                    <span>Συμπληρωματα</span>
                                    <small>Ενισχύστε τον οργανισμό σας, με όλα τα προϊόντα σε έκπτωση έως -53%</small>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </li>
            <li>
                <div class="social-btn">
                    <a href="#">
                        <div class="social-n">
                            <div class="table-div">
                                <div class="table-cell-div">
                                    <img src="{{ asset('images/antikounoupika-banner.jpg') }}" alt="">
                                    {#<small>Follow Us on</small>#}
                                    {#<span>Μαμα & παιδι</span>#}
                                </div>
                            </div>
                        </div>
                        <div class="social-h">
                            <div class="table-div">
                                <div class="table-cell-div">
                                    {#<img src="{{ asset('images/slider/mother-care.png') }}" alt="">#}
                                    <span>Αντικουνουπικα</span>
                                    <small>Προστατευτείτε από τα κουνούπια αποτελεσματικά, με όλα τα προϊόντα με έκπτωση έως -63%</small>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </li>
            <li>
                <div class="social-btn">
                    <a href="#">
                        <div class="social-n">
                            <div class="table-div">
                                <div class="table-cell-div">
                                    <img src="{{ asset('images/prosfores-banner.jpg') }}" alt="">
                                    {#<small>Follow Us on</small>#}
                                    {#<span>Αντιηλιακα</span>#}
                                </div>
                            </div>
                        </div>
                        <div class="social-h">
                            <div class="table-div">
                                <div class="table-cell-div">
                                    {#<img src="{{ asset('images/slider/mother-care.png') }}" alt="">#}
                                    <span>Προσφορες</span>
                                    <small>Πάνω από 8000 προϊόντα σε έκπτωση έως -68%</small>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </li>
            
        </ul>
    {#</div>#}
{#</div>#}