<div class="section" style="background-image:url( {{ asset('images/bg-2.jpg') }} );">
    <div class="container">
        <div class="row section-top">
            {% set count = 0 %}
            {% for article in articles|slice(0,1) %}
                <div class="col-md-6 text-content wow fadeIn" data-wow-delay="0.4s">
                    <a href="{{ path('blog_view', {'slug': article.slug}) }}">
                        <h2 style="text-transform: none;">{{ article.name }}</h2>
                    </a>
                    <p>{{ article.summary }}</p>
                    {#<a href="{{ path('blog_view', {'slug': article.slug}) }}"#}
                       {#class="btn btn-primary btn-md">Λεπτομέρειες</a>#}
                </div>
            {% endfor %}
            <div class="col-md-6 text-content wow zoomIn" data-wow-delay="0.4s">
                <div id="carouselContentTop" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner" role="listbox">
                        {% for article in articles|slice(1,3) %}
                            {% if loop.index is odd %}
                                {#{{ dump(loop.index) }}#}
                                <div class="item  active {% if loop.index == 1 %}{% endif %}">
                            {% endif %}
                            <div class="media">
                                <div class="media-right">
                                    <img class="media-object"
                                         src="{{ asset('uploads/articles/' ~ article.image) }}"
                                         alt="...">
                                </div>
                                <div class="media-body">
                                    <a href="{{ path('blog_view', {'slug': article.slug}) }}">
                                        <h3 style="text-transform: none;">{{ article.name }}</h3>
                                    </a>
                                    <p>{{ article.summary|raw }}</p>
                                    {#<a href="{{ path('blog_view', {'slug': article.slug}) }}" class="btn btn-primary">Λεπτομέρειες</a>#}
                                </div>
                            </div>
                            {% if loop.index is even %}
                                </div>
                            {% endif %}
                        {% endfor %}

                    </div>
                    <!-- Controls -->
                    {#<ol class="carousel-indicators">#}
                    {#<li data-target="#carouselContentTop" data-slide-to="0" class="active"></li>#}
                    {#<li data-target="#carouselContentTop" data-slide-to="1"></li>#}
                    {#<li data-target="#carouselContentTop" data-slide-to="2"></li>#}
                    {#</ol>#}
                </div>

            </div>
        </div>
        <div class="row">
            <a href="{{ path('blog_list', {'id': 1}) }}" class="btn btn-primary">ΔΕΙΤΕ
                ΠΕΡΙΣΣΟΤΕΡΑ</a>
        </div>
    </div>
</div>