<div class="section" style="background-image:url( {{ asset('images/bg-2.jpg') }} );">
    <div class="container">
        <div class="row section-top">
            <div class="col-md-6 text-content wow fadeIn" data-wow-delay="0.4s">
                <h2 style="text-transform: none;">Σεληνιο & Θυρεοειδης</h2>
                <p>Τί είναι το σελήνιο; Το σελήνιο είναι μεταλλικό ιχνοστοιχείο που αποτελεί απαραίτητο θρεπτικό συστατικό για τον οργανισμό μας.</p>
                <a href="#" class="btn btn-primary btn-lg">ΠΕΡΙΣΣΟΤΕΡΑ</a>
            </div>

            <div class="col-md-6 text-content wow zoomIn" data-wow-delay="0.4s">
                <div id="carouselContentTop" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <div class="media">
                                <div class="media-left"><img class="media-object" src="{{ asset('images/img-15.jpg') }}"
                                                             alt="...">
                                </div>
                                <div class="media-body">
                                    <h3>Γιατι κοιμομαστε</h3>
                                    <p>Φαίνεται παράξενο, αλλά η επιστήμη δεν έχει καταφέρει ακόμα να δώσει μια πλήρη και αιτιολογημένη απάντηση για τη χρησιμότητα του.</p>
                                    <a href="#" class="btn btn-primary">ΠΕΡΙΣΣΟΤΕΡΑ</a>
                                </div>
                            </div>
                            <div class="media">
                                <div class="media-left"><img class="media-object" src="{{ asset('images/img-16.jpg') }}"
                                                             alt="...">
                                </div>
                                <div class="media-body">
                                    <h3>Καινοτομα Προϊοντα</h3>
                                    <p>Ένα από τα αποτελέσματα της επιστημονικής προόδου είναι τα καινοτόμα προϊόντα. Καινοτόμα χαρακτηρίζονται τα προϊόντα που αποτελούν το αποτέλεσμα της.</p>
                                    <a href="#" class="btn btn-primary">ΠΕΡΙΣΣΟΤΕΡΑ</a>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="media">
                                <div class="media-left"><img class="media-object" src="{{ asset('images/img-15.jpg') }}"
                                                             alt="...">
                                </div>
                                <div class="media-body">
                                    <h3>Γιατί κοιμόμαστε</h3>
                                    <p>Φαίνεται παράξενο, αλλά η επιστήμη δεν έχει καταφέρει ακόμα να δώσει μια πλήρη και αιτιολογημένη απάντηση για τη χρησιμότητα του.</p>
                                    <a href="#" class="btn btn-primary">ΠΕΡΙΣΣΟΤΕΡΑ</a>
                                </div>
                            </div>
                            <div class="media">
                                <div class="media-left"><img class="media-object" src="{{ asset('images/img-16.jpg') }}"
                                                             alt="...">
                                </div>
                                <div class="media-body">
                                    <h3>Καινοτόμα Προϊόντα</h3>
                                    <p>Ένα από τα αποτελέσματα της επιστημονικής προόδου είναι τα καινοτόμα προϊόντα. Καινοτόμα χαρακτηρίζονται τα προϊόντα που αποτελούν το αποτέλεσμα της.</p>
                                    <a href="#" class="btn btn-primary">ΠΕΡΙΣΣΟΤΕΡΑ</a>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="media">
                                <div class="media-left"><img class="media-object" src="{{ asset('images/img-15.jpg') }}"
                                                             alt="...">
                                </div>
                                <div class="media-body">
                                    <h3>Γιατί κοιμόμαστε</h3>
                                    <p>Φαίνεται παράξενο, αλλά η επιστήμη δεν έχει καταφέρει ακόμα να δώσει μια πλήρη και αιτιολογημένη απάντηση για τη χρησιμότητα του.</p>
                                    <a href="#" class="btn btn-primary">ΠΕΡΙΣΣΟΤΕΡΑ</a>
                                </div>
                            </div>
                            <div class="media">
                                <div class="media-left"><img class="media-object" src="{{ asset('images/img-16.jpg') }}"
                                                             alt="...">
                                </div>
                                <div class="media-body">
                                    <h3>Καινοτόμα Προϊόντα</h3>
                                    <p>Ένα από τα αποτελέσματα της επιστημονικής προόδου είναι τα καινοτόμα προϊόντα. Καινοτόμα χαρακτηρίζονται τα προϊόντα που αποτελούν το αποτέλεσμα της.</p>
                                    <a href="#" class="btn btn-primary">ΠΕΡΙΣΣΟΤΕΡΑ</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Controls -->
                    <ol class="carousel-indicators">
                        <li data-target="#carouselContentTop" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselContentTop" data-slide-to="1"></li>
                        <li data-target="#carouselContentTop" data-slide-to="2"></li>
                    </ol>
                </div>

            </div>
        </div>
    </div>
</div>