<div class="four-column-wrap banners-services">
    <div class="col-xs-4">
        <i class="fas fa-search" style="font-size: 132px;"></i>
        Θέλω ανοσία σε...
    </div>
    <div class="col-xs-8">
        <div class="search">
            <form action="/anosia/public/index.php/product/anosia/search" method="post">
                <div class="textbox">
                    <input name="keyword" required="" class="form-control" type="text" placeholder="Αναζητήστε βάσει κωδικού, ονόματος ή μάρκας" style="width: 100%;background: #f3f3f3;">
                </div>
                <button type="submit"><i class="fas fa-search"></i>
                </button>
            </form>
        </div>
    </div>
    {#<ul>#}
        {#<li class="wow bounceIn" data-wow-delay="0.4s">#}
            {#<div class="hover-div">#}
                {#<div class="icon"><!--<img src="{{ asset('images/icon-7.png') }}" alt="">-->#}
                    {#<i class="fa fa-comments" style="font-size: 132px;"></i>#}
                {#</div>#}
                {#<h5>Κάντε κλικ εδώ</h5> <h4>για το chat μας</h4>#}
            {#</div>#}
            {#<div class="icon"><i class="fa fa-comments" style="font-size: 132px;"></i><!--<img src="{{ asset('images/icon-7.png') }}" alt="">--></div>#}
            {#<h5>Μιλήστε</h5> <h4>άμεσα μαζί μας</h4>#}
        {#</li>#}
        {#<li class="wow bounceIn" data-wow-delay="0.4s">#}
            {#<div class="hover-div">#}
                {#<div class="icon"><!--<img src="{{ asset('images/icon-8.png') }}" alt="">-->#}
                    {#<i class="fa fa-truck" style="font-size: 132px;"></i>#}
                {#</div>#}
                {#<h5>Κάντε κλικ εδώ</h5> <h4>για να δείτε την παραγγελία σας</h4></div>#}
            {#<div class="icon"><!--<img src="{{ asset('images/icon-8.png') }}" alt="">-->#}
                {#<i class="fa fa-truck" style="font-size: 132px;"></i>#}
            {#</div>#}
            {#<h5>Παρακολουθήστε </h5> <h4>την παραγγελία σας</h4>#}
        {#</li>#}
        {#<li class="wow bounceIn" data-wow-delay="0.4s">#}
            {#<div class="hover-div">#}
                {#<div class="icon"><!--<img src="{{ asset('images/icon-9.png') }}" alt="">-->#}
                    {#<i class="fa fa-search" style="font-size: 132px;"></i>#}
                {#</div>#}
                {#<h5>Αναζητήστε το</h5> <h4>σύμπτωμα σας</h4></div>#}
            {#<div class="icon"><!--<img src="{{ asset('images/icon-9.png') }}" alt="">-->#}
                {#<i class="fa fa-search" style="font-size: 132px;"></i>#}
            {#</div>#}
            {#<h5>Θέλω </h5> <h4>Ανοσία σε...</h4>#}
        {#</li>#}
        {#<li class="wow bounceIn" data-wow-delay="0.4s">#}
            {#<div class="hover-div">#}
                {#<div class="icon"><!--<img src="{{ asset('images/icon-10.png') }}" alt="">-->#}
                    {#<i class="fa fa-credit-card" style="font-size: 132px;"></i>#}
                {#</div>#}
                {#<h5>Είμαστε εδώ για εσάς</h5> <h4>με τις καλύτερες υπηρεσίες</h4></div>#}
            {#<div class="icon"><!--<img src="{{ asset('images/icon-10.png') }}" alt="">-->#}
                 {#<i class="fa fa-credit-card" style="font-size: 132px;"></i>#}
            {#</div>#}
            {#<h5>Δωρεάν Μεταφορικά</h5> <h4>- Άτοκες Δόσεις</h4>#}
        {#</li>#}
    {#</ul>#}
</div>