<div class="four-column-wrap">
    <ul>
        <li class="wow bounceIn" data-wow-delay="0.4s">
            <div class="hover-div">
                <div class="icon"><img src="{{ asset('images/icon-7.png') }}" alt=""></div>
                <h5>Με αγορες</h5> <h4>ανω των 39€</h4>
            </div>
            <div class="icon"><img src="{{ asset('images/icon-7.png') }}" alt=""></div>
            <h5>Δωρεαν</h5> <h4>Μεταφορικα</h4>
        </li>
        <li class="wow bounceIn" data-wow-delay="0.4s">
            <div class="hover-div">
                <div class="icon"><img src="{{ asset('images/icon-8.png') }}" alt=""></div>
                <h5>Πανω απο 10000</h5> <h4>Πελατες</h4></div>
            <div class="icon"><img src="{{ asset('images/icon-8.png') }}" alt=""></div>
            <h5>πανω απο 10000</h5> <h4>Πελατες</h4>
        </li>
        <li class="wow bounceIn" data-wow-delay="0.4s">
            <div class="hover-div">
                <div class="icon"><img src="{{ asset('images/icon-9.png') }}" alt=""></div>
                <h5>Πανω απο 50000</h5> <h4>Προϊοντα</h4></div>
            <div class="icon"><img src="{{ asset('images/icon-9.png') }}" alt=""></div>
            <h5>Πανω απο 50000</h5> <h4>Προϊοντα</h4>
        </li>
        <li class="wow bounceIn" data-wow-delay="0.4s">
            <div class="hover-div">
                <div class="icon"><img src="{{ asset('images/icon-10.png') }}" alt=""></div>
                <h5>Καλεστε μας</h5> <h4>στο 210 94 02 027</h4></div>
            <div class="icon"><img src="{{ asset('images/icon-10.png') }}" alt=""></div>
            <h5>Υποστηριξη</h5> <h4>Πελατων</h4>
        </li>
    </ul>
</div>