<div class="section" style="background-image:url({{ asset('images/bg-3.jpg') }});">
    <div class="container">
        <div class="section-heading row wow flipInX" data-wow-delay="0.4s">
            <div class="col-sm-8 col-sm-offset-2">
                <h3>OUR Portfolio</h3>
                <h2>Checkout some of our work</h2>
                <p>Nam in docendi reprimique, laoreet honestatis eu mel. Id qui aperiri admodum intellegat, ea
                    illum
                    populo qui. An modo eleifend vituperatoribus his, id has oporteat honestatis, has quas
                    efficiendi eu. </p>
            </div>
        </div>
    </div>

    <div class="owl-carousel owl-theme workCarousel product-main-slider">
        <div class="item">
            <div class="work-shocase">
                <div class="ellipse">
                    <span>-30.12%</span>
                </div>
                <div class="hover-img"><img src="{{ asset('images/brands/1.png') }}" alt=""></div>
                <img src="{{ asset('images/brands/1.png') }}" alt="">
                {#<div class="work-info-overlay">#}
                    {#<p>Work Title</p>#}
                    {#<ul>#}
                        {#<li><a href="#"><i class="fa fa-heart"></i>10</a></li>#}
                        {#<li><a href="#"><i class="fa fa-star"></i>3</a></li>#}
                        {#<li><a href="#"><i class="fa fa-comment-o"></i>5</a></li>#}
                    {#</ul>#}
                {#</div>#}
            </div>
            {#<div class="work-shocase">#}
                {#<div class="hover-img"><img src="{{ asset('images/brands/2.png') }}" alt=""></div>#}
                {#<img src="{{ asset('images/brands/2.png') }}" alt="">#}
                {#<div class="work-info-overlay">#}
                    {#<p>Work Title</p>#}
                    {#<ul>#}
                        {#<li><a href="#"><i class="fa fa-heart"></i>10</a></li>#}
                        {#<li><a href="#"><i class="fa fa-star"></i>3</a></li>#}
                        {#<li><a href="#"><i class="fa fa-comment-o"></i>5</a></li>#}
                    {#</ul>#}
                {#</div>#}
            {#</div>#}
        </div>
        <div class="item">
            <div class="work-shocase">
                <div class="tag tag-red"><span>-35%</span></div>
                <div class="hover-img"><img src="{{ asset('images/brands/3.png') }}" alt=""></div>
                <img src="{{ asset('images/brands/3.png') }}" alt="">
                {#<div class="work-info-overlay">#}
                    {#<p>Work Title</p>#}
                    {#<ul>#}
                        {#<li><a href="#"><i class="fa fa-heart"></i>10</a></li>#}
                        {#<li><a href="#"><i class="fa fa-star"></i>3</a></li>#}
                        {#<li><a href="#"><i class="fa fa-comment-o"></i>5</a></li>#}
                    {#</ul>#}
                {#</div>#}
            </div>
            {#<div class="work-shocase">#}
                {#<div class="hover-img"><img src="{{ asset('images/brands/4.jpg') }}" alt=""></div>#}
                {#<img src="{{ asset('images/brands/4.jpg') }}" alt="">#}
                {#<div class="work-info-overlay">#}
                    {#<p>Work Title</p>#}
                    {#<ul>#}
                        {#<li><a href="#"><i class="fa fa-heart"></i>10</a></li>#}
                        {#<li><a href="#"><i class="fa fa-star"></i>3</a></li>#}
                        {#<li><a href="#"><i class="fa fa-comment-o"></i>5</a></li>#}
                    {#</ul>#}
                {#</div>#}
            {#</div>#}
        </div>
        <div class="item">
            <div class="work-shocase">
                <div class="hover-img"><img src="{{ asset('images/brands/5.png') }}" alt=""></div>
                <img src="{{ asset('images/brands/5.png') }}" alt="">
                {#<div class="work-info-overlay">#}
                    {#<p>Work Title</p>#}
                    {#<ul>#}
                        {#<li><a href="#"><i class="fa fa-heart"></i>10</a></li>#}
                        {#<li><a href="#"><i class="fa fa-star"></i>3</a></li>#}
                        {#<li><a href="#"><i class="fa fa-comment-o"></i>5</a></li>#}
                    {#</ul>#}
                {#</div>#}
            </div>
            {#<div class="work-shocase">#}
                {#<div class="hover-img"><img src="{{ asset('images/brands/6.jpg') }}" alt=""></div>#}
                {#<img src="{{ asset('images/brands/6.jpg') }}" alt="">#}
                {#<div class="work-info-overlay">#}
                    {#<p>Work Title</p>#}
                    {#<ul>#}
                        {#<li><a href="#"><i class="fa fa-heart"></i>10</a></li>#}
                        {#<li><a href="#"><i class="fa fa-star"></i>3</a></li>#}
                        {#<li><a href="#"><i class="fa fa-comment-o"></i>5</a></li>#}
                    {#</ul>#}
                {#</div>#}
            {#</div>#}
        </div>
        <div class="item">
            <div class="work-shocase">
                <div class="hover-img"><img src="{{ asset('images/brands/7.jpg') }}" alt=""></div>
                <img src="{{ asset('images/brands/7.jpg') }}" alt="">
                {#<div class="work-info-overlay">#}
                    {#<p>Work Title</p>#}
                    {#<ul>#}
                        {#<li><a href="#"><i class="fa fa-heart"></i>10</a></li>#}
                        {#<li><a href="#"><i class="fa fa-star"></i>3</a></li>#}
                        {#<li><a href="#"><i class="fa fa-comment-o"></i>5</a></li>#}
                    {#</ul>#}
                {#</div>#}
            </div>
            {#<div class="work-shocase">#}
                {#<div class="hover-img"><img src="{{ asset('images/brands/8.jpg') }}" alt=""></div>#}
                {#<img src="{{ asset('images/brands/8.jpg') }}" alt="">#}
                {#<div class="work-info-overlay">#}
                    {#<p>Work Title</p>#}
                    {#<ul>#}
                        {#<li><a href="#"><i class="fa fa-heart"></i>10</a></li>#}
                        {#<li><a href="#"><i class="fa fa-star"></i>3</a></li>#}
                        {#<li><a href="#"><i class="fa fa-comment-o"></i>5</a></li>#}
                    {#</ul>#}
                {#</div>#}
            {#</div>#}
        </div>
        <div class="item">
            <div class="work-shocase">
                <div class="hover-img"><img src="{{ asset('images/brands/9.jpg') }}" alt=""></div>
                <img src="{{ asset('images/brands/9.jpg') }}" alt="">
                {#<div class="work-info-overlay">#}
                    {#<p>Work Title</p>#}
                    {#<ul>#}
                        {#<li><a href="#"><i class="fa fa-heart"></i>10</a></li>#}
                        {#<li><a href="#"><i class="fa fa-star"></i>3</a></li>#}
                        {#<li><a href="#"><i class="fa fa-comment-o"></i>5</a></li>#}
                    {#</ul>#}
                {#</div>#}
            </div>
            {#<div class="work-shocase">#}
                {#<div class="hover-img"><img src="{{ asset('images/brands/10.jpg') }}" alt=""></div>#}
                {#<img src="{{ asset('images/brands/10.jpg') }}" alt="">#}
                {#<div class="work-info-overlay">#}
                    {#<p>Work Title</p>#}
                    {#<ul>#}
                        {#<li><a href="#"><i class="fa fa-heart"></i>10</a></li>#}
                        {#<li><a href="#"><i class="fa fa-star"></i>3</a></li>#}
                        {#<li><a href="#"><i class="fa fa-comment-o"></i>5</a></li>#}
                    {#</ul>#}
                {#</div>#}
            {#</div>#}
        </div>
        <div class="item">
            <div class="work-shocase">
                <div class="hover-img"><img src="{{ asset('images/brands/7.jpg') }}" alt=""></div>
                <img src="{{ asset('images/brands/7.jpg') }}" alt="">
                {#<div class="work-info-overlay">#}
                {#<p>Work Title</p>#}
                {#<ul>#}
                {#<li><a href="#"><i class="fa fa-heart"></i>10</a></li>#}
                {#<li><a href="#"><i class="fa fa-star"></i>3</a></li>#}
                {#<li><a href="#"><i class="fa fa-comment-o"></i>5</a></li>#}
                {#</ul>#}
                {#</div>#}
            </div>
            {#<div class="work-shocase">#}
                {#<div class="hover-img"><img src="{{ asset('images/brands/8.jpg') }}" alt=""></div>#}
                {#<img src="{{ asset('images/brands/8.jpg') }}" alt="">#}
                {#<div class="work-info-overlay">#}
                {#<p>Work Title</p>#}
                {#<ul>#}
                {#<li><a href="#"><i class="fa fa-heart"></i>10</a></li>#}
                {#<li><a href="#"><i class="fa fa-star"></i>3</a></li>#}
                {#<li><a href="#"><i class="fa fa-comment-o"></i>5</a></li>#}
                {#</ul>#}
                {#</div>#}
            {#</div>#}
        </div>
        <div class="item">
            <div class="work-shocase">
                <div class="hover-img"><img src="{{ asset('images/brands/7.jpg') }}" alt=""></div>
                <img src="{{ asset('images/brands/7.jpg') }}" alt="">
                {#<div class="work-info-overlay">#}
                {#<p>Work Title</p>#}
                {#<ul>#}
                {#<li><a href="#"><i class="fa fa-heart"></i>10</a></li>#}
                {#<li><a href="#"><i class="fa fa-star"></i>3</a></li>#}
                {#<li><a href="#"><i class="fa fa-comment-o"></i>5</a></li>#}
                {#</ul>#}
                {#</div>#}
            </div>
            {#<div class="work-shocase">#}
                {#<div class="hover-img"><img src="{{ asset('images/brands/8.jpg') }}" alt=""></div>#}
                {#<img src="{{ asset('images/brands/8.jpg') }}" alt="">#}
                {#<div class="work-info-overlay">#}
                {#<p>Work Title</p>#}
                {#<ul>#}
                {#<li><a href="#"><i class="fa fa-heart"></i>10</a></li>#}
                {#<li><a href="#"><i class="fa fa-star"></i>3</a></li>#}
                {#<li><a href="#"><i class="fa fa-comment-o"></i>5</a></li>#}
                {#</ul>#}
                {#</div>#}
            {#</div>#}
        </div>
        <div class="item">
            <div class="work-shocase">
                <div class="hover-img"><img src="{{ asset('images/brands/7.jpg') }}" alt=""></div>
                <img src="{{ asset('images/brands/7.jpg') }}" alt="">
                {#<div class="work-info-overlay">#}
                {#<p>Work Title</p>#}
                {#<ul>#}
                {#<li><a href="#"><i class="fa fa-heart"></i>10</a></li>#}
                {#<li><a href="#"><i class="fa fa-star"></i>3</a></li>#}
                {#<li><a href="#"><i class="fa fa-comment-o"></i>5</a></li>#}
                {#</ul>#}
                {#</div>#}
            </div>
            {#<div class="work-shocase">#}
                {#<div class="hover-img"><img src="{{ asset('images/brands/8.jpg') }}" alt=""></div>#}
                {#<img src="{{ asset('images/brands/8.jpg') }}" alt="">#}
                {#<div class="work-info-overlay">#}
                {#<p>Work Title</p>#}
                {#<ul>#}
                {#<li><a href="#"><i class="fa fa-heart"></i>10</a></li>#}
                {#<li><a href="#"><i class="fa fa-star"></i>3</a></li>#}
                {#<li><a href="#"><i class="fa fa-comment-o"></i>5</a></li>#}
                {#</ul>#}
                {#</div>#}
            {#</div>#}
        </div>
        <div class="item">
            <div class="work-shocase">
                <div class="hover-img"><img src="{{ asset('images/brands/7.jpg') }}" alt=""></div>
                <img src="{{ asset('images/brands/7.jpg') }}" alt="">
                {#<div class="work-info-overlay">#}
                {#<p>Work Title</p>#}
                {#<ul>#}
                {#<li><a href="#"><i class="fa fa-heart"></i>10</a></li>#}
                {#<li><a href="#"><i class="fa fa-star"></i>3</a></li>#}
                {#<li><a href="#"><i class="fa fa-comment-o"></i>5</a></li>#}
                {#</ul>#}
                {#</div>#}
            </div>
            {#<div class="work-shocase">#}
                {#<div class="hover-img"><img src="{{ asset('images/brands/8.jpg') }}" alt=""></div>#}
                {#<img src="{{ asset('images/brands/8.jpg') }}" alt="">#}
                {#<div class="work-info-overlay">#}
                {#<p>Work Title</p>#}
                {#<ul>#}
                {#<li><a href="#"><i class="fa fa-heart"></i>10</a></li>#}
                {#<li><a href="#"><i class="fa fa-star"></i>3</a></li>#}
                {#<li><a href="#"><i class="fa fa-comment-o"></i>5</a></li>#}
                {#</ul>#}
                {#</div>#}
            {#</div>#}
        </div>
    </div>
</div>