<div class="section" style="background-image:url({{ asset('images/bg-4.jpg') }});">
    <div class="container">
        <div class="section-heading row wow flipInX" data-wow-delay="0.4s">
            <div class="col-sm-8 col-sm-offset-2">
                {#<h3>Get ready for our</h3>#}
                <h2>Νέες αφίξεις</h2>
                <p>Δείτε τα νέα μας προϊόντα. </p>
            </div>
        </div>

        <div class="owl-carousel owl-theme ProductScroll">
            {% for pr in featured %}
                <div class="item">
                    <div class="product-case">
                        <div class="tag tag-green"><span>new</span></div>
                        <div class="product-img">
                            <div class="hover-img"><img src="{{ pr.imageUrl }}" alt="{{ pr.name }}"></div>
                            <a href="{{ path('product_view', {'id':pr.id}) }}"><img src="{{ pr.imageUrl }}" alt="{{ pr.name }}"></a>
                        </div>
                        <div class="hover-info">
                            <div class="product-short-info">
                                <div class="product-name"><a href="{{ path('product_view', {'id':pr.id}) }}">{{ pr.name }}</a></div>
                                {#<div class="star"><i class="fa fa-star"></i><i class="fa fa-star"></i><i#}
                                            {#class="fa fa-star"></i><i class="fa fa-star"></i><i#}
                                            {#class="fa fa-star"></i><i#}
                                            {#class="fa fa-star-o"></i></div>#}
                                <div class="product-price">
                                    <div class="product-price-span">{{ pr.webPrice }}€
                                        <del>{{ pr.retailPrice }}€</del>
                                    </div>
                                </div>
                                <button type="button" class="add-to-cart" data-id="{{ pr.id }}">
                                    <i class="fa fa-cart-plus"></i>
                                    <span>Καλάθι</span>
                                </button>
                            </div>
                        </div>
                        <div class="product-short-info">
                            <div class="product-name"><a href="#">{{ pr.name }}</a></div>
                            {#<div class="star"><i class="fa fa-star"></i><i class="fa fa-star"></i><i#}
                                        {#class="fa fa-star"></i><i class="fa fa-star"></i><i#}
                                        {#class="fa fa-star"></i><i#}
                                        {#class="fa fa-star-o"></i></div>#}
                            <div class="product-price">
                                <div class="product-price-span">{{  pr.webPrice }}€
                                    <del>{{ pr.retailPrice }}€</del>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>