<div class="category-banner">
    <ul>
        <li class="coleql_height">
            <div class="banner-img">
                <a href="#" class="overlay">
                    <div class="overlay-box">
                        <div class="table-div">
                            <div class="table-cell-div">MOTHER CARE</div>
                        </div>
                    </div>
                </a>
                <img src="{{ asset('images/cloth.jpg') }}" alt="">
            </div>
        </li>
        <li class="coleql_height">
            <div class="banner-img">
                <a href="#" class="overlay">
                    <div class="overlay-box">
                        <div class="table-div">
                            <div class="table-cell-div">
                                Φροντιδα Παιδιου
                            </div>
                        </div>
                    </div>
                </a>
                <img src="{{ asset('images/jeans.jpg') }}" alt="">
            </div>
            <div class="banner-img">
                <a href="#" class="overlay">
                    <div class="overlay-box">
                        <div class="table-div">
                            <div class="table-cell-div">
                                Φροντιδα Βρεφους
                            </div>
                        </div>
                    </div>
                </a>
                <img src="{{ asset('images/watch.jpg') }}" alt="">
            </div>
        </li>
        <li class="coleql_height">
            <div class="banner-img">
                <a href="#" class="overlay">
                    <div class="overlay-box">
                        <div class="table-div">
                            <div class="table-cell-div">
                                Αξεσουαρ Βρεφους
                            </div>
                        </div>
                    </div>
                </a>
                <img src="{{ asset('images/eyegear.jpg') }}" alt=""></div>
            <div class="banner-img">
                <a href="#" class="overlay">
                    <div class="overlay-box">
                        <div class="table-div">
                            <div class="table-cell-div">Διατροφη Βρεφους</div>
                        </div>
                    </div>
                </a>
                <img src="{{ asset('images/shoes.jpg') }}" alt="">
            </div>
        </li>
        <li class="coleql_height">
            <div class="banner-img">
                <a href="#" class="overlay">
                    <div class="overlay-box">
                        <div class="table-div">
                            <div class="table-cell-div">Φροντιδα Βρεφους</div>
                        </div>
                    </div>
                </a>
                <img src="{{ asset('images/bags.jpg') }}" alt=""></div>
            <div class="banner-img">
                <a href="#" class="overlay">
                    <div class="overlay-box">
                        <div class="table-div">
                            <div class="table-cell-div">BELTS</div>
                        </div>
                    </div>
                </a>
                <img src="{{ asset('images/belts.jpg') }}" alt=""></div>
        </li>
    </ul>
</div>