<div class="category-banner">
    <ul>
        <li class="coleql_height">
            <div class="banner-img">
                <a href="#" class="overlay">
                    <div class="overlay-box">
                        <div class="table-div">
                            <div class="table-cell-div">ΓΥΝΑΙΚΑ</div>
                        </div>
                    </div>
                </a>
                <img src="{{ asset('images/woman-category.jpg') }}" alt="AnosiaPharmacy Περιποίηση για τη Γυναίκα">
            </div>
        </li>
        <li class="coleql_height">
            <div class="banner-img">
                <a href="#" class="overlay">
                    <div class="overlay-box">
                        <div class="table-div">
                            <div class="table-cell-div">
                                ΑΝΔΡΑΣ
                            </div>
                        </div>
                    </div>
                </a>
                <img src="{{ asset('images/man-category.jpg') }}" alt="AnosiaPharmacy Περιποίηση για τον Άνδρα">
            </div>
            <div class="banner-img">
                <a href="#" class="overlay">
                    <div class="overlay-box">
                        <div class="table-div">
                            <div class="table-cell-div">
                                ΜΑΜΑ & ΠΑΙΔΙ
                            </div>
                        </div>
                    </div>
                </a>
                <img src="{{ asset('images/mama-paidi-category.jpg') }}" alt="">
            </div>
        </li>
        <li class="coleql_height">
            <div class="banner-img">
                <a href="#" class="overlay">
                    <div class="overlay-box">
                        <div class="table-div">
                            <div class="table-cell-div">
                                ΒΙΤΑΜΙΝΕΣ & ΣΥΜΠΛΗΡΩΜΑΤΑ
                            </div>
                        </div>
                    </div>
                </a>
                <img src="{{ asset('images/vitamines-simpliromata-category.jpg') }}" alt="AnosiaPharmacy Βιταμίνες και Συμπληρώματα"></div>
            <div class="banner-img">
                <a href="#" class="overlay">
                    <div class="overlay-box">
                        <div class="table-div">
                            <div class="table-cell-div">ΦΑΡΜΑΚΕΙΟ</div>
                        </div>
                    </div>
                </a>
                <img src="{{ asset('images/farmakeio-category.jpg') }}" alt="">
            </div>
        </li><!--
        <li class="coleql_height">
            <div class="banner-img">
                <a href="#" class="overlay">
                    <div class="overlay-box">
                        <div class="table-div">
                            <div class="table-cell-div">Φροντιδα Βρεφους</div>
                        </div>
                    </div>
                </a>
                <img src="{{ asset('images/bags.jpg') }}" alt=""></div>
            <div class="banner-img">
                <a href="#" class="overlay">
                    <div class="overlay-box">
                        <div class="table-div">
                            <div class="table-cell-div">BELTS</div>
                        </div>
                    </div>
                </a>
                <img src="{{ asset('images/belts.jpg') }}" alt=""></div>
        </li>-->
    </ul>
</div>