<div class="category-banner">
    <ul>
        <li class="coleql_height">
            <div class="banner-img">
                <a href="#" class="overlay">
                    <div class="overlay-box">
                        <div class="table-div">
                            <div class="table-cell-div">Dress</div>
                        </div>
                    </div>
                </a>
                <img src="{{ asset('images/cloth.jpg') }}" alt="">
            </div>
        </li>
        <li class="coleql_height">
            <div class="banner-img">
                <a href="#" class="overlay">
                    <div class="overlay-box">
                        <div class="table-div">
                            <div class="table-cell-div">JEANS</div>
                        </div>
                    </div>
                </a>
                <img src="{{ asset('images/jeans.jpg') }}" alt="">
            </div>
            <div class="banner-img">
                <a href="#" class="overlay">
                    <div class="overlay-box">
                        <div class="table-div">
                            <div class="table-cell-div">Watches</div>
                        </div>
                    </div>
                </a>
                <img src="{{ asset('images/watch.jpg') }}" alt="">
            </div>
        </li>
        <li class="coleql_height">
            <div class="banner-img">
                <a href="#" class="overlay">
                    <div class="overlay-box">
                        <div class="table-div">
                            <div class="table-cell-div">EYEGEARS</div>
                        </div>
                    </div>
                </a>
                <img src="{{ asset('images/eyegear.jpg') }}" alt=""></div>
            <div class="banner-img">
                <a href="#" class="overlay">
                    <div class="overlay-box">
                        <div class="table-div">
                            <div class="table-cell-div">SHOES</div>
                        </div>
                    </div>
                </a>
                <img src="{{ asset('images/shoes.jpg') }}" alt="">
            </div>
        </li>
        <li class="coleql_height">
            <div class="banner-img">
                <a href="#" class="overlay">
                    <div class="overlay-box">
                        <div class="table-div">
                            <div class="table-cell-div">BAGS</div>
                        </div>
                    </div>
                </a>
                <img src="{{ asset('images/bags.jpg') }}" alt=""></div>
            <div class="banner-img">
                <a href="#" class="overlay">
                    <div class="overlay-box">
                        <div class="table-div">
                            <div class="table-cell-div">BELTS</div>
                        </div>
                    </div>
                </a>
                <img src="{{ asset('images/belts.jpg') }}" alt=""></div>
        </li>
    </ul>
</div>