<div class="section" style="background-image:url({{ asset('images/bg/bg-7.jpg') }});">
    <div class="container">
        <div class="section-heading section-heading-white row wow flipInX" data-wow-delay="0.4s">
            <div class="col-sm-8 col-sm-offset-2">
                <h3>Συναρπαστικές Προσφορές</h3>
                <h2>Αγοράστε τις τελευταίες μας προσφορές</h2>
                <p>Nam in docendi reprimique, laoreet honestatis eu mel. Id qui aperiri admodum intellegat, ea
                    illum
                    populo qui. An modo eleifend vituperatoribus his, id has oporteat honestatis, has quas
                    efficiendi eu. </p>
            </div>
        </div>

        <div class="owl-carousel owl-theme OfferCarousel">
            {% for pr in featured %}
                <div class="item">
                    <div class="offer-box">
                        <div class="row">
                            <div class="col-sm-4 col-md-5 col-lg-4 offer-img">
                                <img src="{{ pr.imageUrl }}"
                                        alt="{{ pr.name }}">
                            </div>
                            <div class="col-sm-8 col-md-7 col-lg-8">
                                <div class="offer-name">{{ pr.name }}</div>
                                {#<div class="star"><i class="fa fa-star"></i><i class="fa fa-star"></i><i#}
                                            {#class="fa fa-star"></i><i class="fa fa-star"></i><i#}
                                            {#class="fa fa-star"></i><i#}
                                            {#class="fa fa-star-o"></i></div>#}
                                <div class="product-price-span">{{  pr.webPrice }}€
                                    <del>{{ pr.retailPrice }}€</del>
                                </div>
                                <div>
                                    <button type="button">
                                        <i class="fa fa-cart-plus"></i>
                                        <span>Καλάθι</span>
                                    </button>
                                </div>
                                <h6>Η προσφορά λήγει σε:</h6>
                                <ul>
                                    <li>5ώρες</li>
                                    <li>15 Λεπτά</li>
                                    {#<li>25 Mins</li>#}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="shadow-sm"></div>
                </div>
            {% endfor %}
        </div>

    </div>
</div>