<style>
    .product-main-slider .owl-next, .product-main-slider .owl-prev {
        top: 20%;
    }
</style>
<div class="section" style="background:#009836;">
    <div class="container">
        {#<div class="section-heading section-heading-white row wow flipInX" data-wow-delay="0.4s">#}
        {#<div class="col-sm-8 col-sm-offset-2">#}
        {#<h3>ΣΥΝΑΡΠΑΣΤΙΚΕΣ ΠΡΟΣΦΟΡΕΣ</h3>#}
        {#<h2>ΕΠΩΦΕΛΕΙΘΕΙΤΕ ΑΠΟ ΤΙΣ ΠΡΟΣΦΟΡΕΣ ΜΑΣ</h2>#}
        {#<p>Στο AnosiaPharmacy.gr θα βρείτε τις καλύτερες προσφορές στις μεγαλύτερες εταιρείες!</p>#}
        {#</div>#}
        {#</div>#}

        <div class="col-lg-3">
            <h3 style="color: #fff;">ΣΥΝΑΡΠΑΣΤΙΚΕΣ ΠΡΟΣΦΟΡΕΣ<br><br>
            ΕΠΩΦΕΛΕΙΘΕΙΤΕ ΑΠΟ ΤΙΣ ΠΡΟΣΦΟΡΕΣ ΜΑΣ</h3>
            <p style="color: #fff;">Στο AnosiaPharmacy.gr θα βρείτε τις καλύτερες προσφορές στις μεγαλύτερες
                εταιρείες!</p>
        </div>
        <div class="col-lg-9">
            <div class="owl-carousel owl-theme OfferCarousel product-main-slider">
                {% for pr in featured %}
                    <div class="item wow zoomIn animated" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: zoomIn;">
                        <div class="offer-box">
                            <div class="row">
                                <div class="col-sm-4 col-md-5 col-lg-4 offer-img">
                                </div>
                                <div class="col-sm-12">
                                    <img src="{{ asset(pr.imageUrl) }}"
                                         alt="{{ pr.name }}">
                                    <div class="offer-name"><a href="{{ path('product_view', {'slug': pr.slug}) }}">{{ pr.name|title }}</a></div>
                                    {#<div class="star"><i class="fa fa-star"></i><i class="fa fa-star"></i><i#}
                                    {#class="fa fa-star"></i><i class="fa fa-star"></i><i#}
                                    {#class="fa fa-star"></i><i#}
                                    {#class="fa fa-star-o"></i></div>#}
                                    <div class="product-price-span">{{ pr.webPrice|number_format(2, ',', '.') }}€
                                        <del>{{ pr.retailPrice|number_format(2, ',', '.') }}€</del>
                                    </div>
                                    <div>
                                        <button type="button"
                                                class="add-to-cart"
                                                data-id="{{ pr.id }}"
                                                data-name="{{ pr.name }}">
                                            <i class="fa fa-cart-plus"></i>
                                            <span>ΚΑΛΑΘΙ</span>
                                        </button>
                                    </div>
                                    <h6>Η ΠΡΟΣΦΟΡΑ ΛΗΓΕΙ ΣΕ:</h6>
                                    <ul>
                                        <li>5ώρες</li>
                                        <li>15 Λεπτά</li>
                                        {#<li>25 Mins</li>#}
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="shadow-sm"></div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>