<div class="info-row" style="background: #fff;">
    <div class="col-sm-6 description">
        <h3>Πρόγραμμα Επιβράβευσης πελατών</h3>
        <p></p><p>Εσείς κάνετε τις αγορές σας και εμείς σας επιβραβεύουμε!</p>
        <p>Επωφεληθείτε από το πρόγραμμα ανταμοιβής μελών που σας επιστρέφει πόντους για κάθε ευρώ που ξοδεύετε! Συγκεντρώστε πόντους σε κάθε παραγγελία και εξαργυρώστε τους στις επόμενες αγορές σας!</p><p></p><br>
        <a href="#" class="btn btn-primary btn-lg">ΜΑΘΕΤΕ ΠΕΡΙΣΣΟΤΕΡΑ</a>
    </div>
    <div class="col-sm-6 img-epivravefsi">
        <img src="{{ asset('images/epivraveusi-ponton-homepage.png') }}" alt="AnosiaPharmacy Επιβράβευση Πόντων" width="628" height="387">
    </div>
    <ul></ul>
</div>
<!--
    <ul>
        <li class="wow zoomIn" data-wow-delay="0.4s">
            <div class="info-btn">
                <a href="#">
                    <div class="info-btn-h">
                        <div class="table-div">
                            <div class="table-cell-div">
                                <div class="icon-box">
                                    <div class="table-div">
                                        <div class="table-cell-div"><img src="{{ asset('images/icon-1.png') }}" alt=""></div>
                                    </div>
                                </div>
                                <h5>feugiat</h5>
                                <h4>Eum tale deleniti no</h4>
                                <p>Ex commodo disputationi sit deterruisset.</p>
                            </div>
                        </div>
                    </div>
                    <div class="info-btn-n">
                        <div class="table-div">
                            <div class="table-cell-div">
                                <div class="icon-box">
                                    <div class="table-div">
                                        <div class="table-cell-div"><img src="{{ asset('images/icon-1.png') }}" alt=""></div>
                                    </div>
                                </div>
                                <h5>feugiat</h5>
                                <h4>Eum tale deleniti no</h4>
                                <p>Ex commodo disputationi sit deterruisset.</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </li>
        <li class="wow zoomIn" data-wow-delay="0.4s">
            <div class="info-btn">
                <a href="#">
                    <div class="info-btn-h">
                        <div class="table-div">
                            <div class="table-cell-div">
                                <div class="icon-box">
                                    <div class="table-div">
                                        <div class="table-cell-div"><img src="{{ asset('images/icon-2.png') }}" alt=""></div>
                                    </div>
                                </div>
                                <h5>feugiat</h5>
                                <h4>Eum tale deleniti no</h4>
                                <p>Ex commodo disputationi sit deterruisset.</p>
                            </div>
                        </div>
                    </div>
                    <div class="info-btn-n">
                        <div class="table-div">
                            <div class="table-cell-div">
                                <div class="icon-box">
                                    <div class="table-div">
                                        <div class="table-cell-div"><img src="{{ asset('images/icon-2.png') }}" alt=""></div>
                                    </div>
                                </div>
                                <h5>feugiat</h5>
                                <h4>Eum tale deleniti no</h4>
                                <p>Ex commodo disputationi sit deterruisset.</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </li>
        <li class="wow zoomIn" data-wow-delay="0.4s">
            <div class="info-btn">
                <a href="#">
                    <div class="info-btn-h">
                        <div class="table-div">
                            <div class="table-cell-div">
                                <div class="icon-box">
                                    <div class="table-div">
                                        <div class="table-cell-div"><img src="{{ asset('images/icon-3.png') }}" alt=""></div>
                                    </div>
                                </div>
                                <h5>feugiat</h5>
                                <h4>Eum tale deleniti no</h4>
                                <p>Ex commodo disputationi sit deterruisset.</p>
                            </div>
                        </div>
                    </div>
                    <div class="info-btn-n">
                        <div class="table-div">
                            <div class="table-cell-div">
                                <div class="icon-box">
                                    <div class="table-div">
                                        <div class="table-cell-div"><img src="{{ asset('images/icon-3.png') }}" alt=""></div>
                                    </div>
                                </div>
                                <h5>feugiat</h5>
                                <h4>Eum tale deleniti no</h4>
                                <p>Ex commodo disputationi sit deterruisset.</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </li>
        <li class="wow zoomIn" data-wow-delay="0.4s">
            <div class="info-btn">
                <a href="#">
                    <div class="info-btn-h">
                        <div class="table-div">
                            <div class="table-cell-div">
                                <div class="icon-box">
                                    <div class="table-div">
                                        <div class="table-cell-div"><img src="{{ asset('images/icon-4.png') }}" alt=""></div>
                                    </div>
                                </div>
                                <h5>feugiat</h5>
                                <h4>Eum tale deleniti no</h4>
                                <p>Ex commodo disputationi sit deterruisset.</p>
                            </div>
                        </div>
                    </div>
                    <div class="info-btn-n">
                        <div class="table-div">
                            <div class="table-cell-div">
                                <div class="icon-box">
                                    <div class="table-div">
                                        <div class="table-cell-div"><img src="{{ asset('images/icon-4.png') }}" alt=""></div>
                                    </div>
                                </div>
                                <h5>feugiat</h5>
                                <h4>Eum tale deleniti no</h4>
                                <p>Ex commodo disputationi sit deterruisset.</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </li>
        <li class="wow zoomIn" data-wow-delay="0.4s">
            <div class="info-btn">
                <a href="#">
                    <div class="info-btn-h">
                        <div class="table-div">
                            <div class="table-cell-div">
                                <div class="icon-box">
                                    <div class="table-div">
                                        <div class="table-cell-div"><img src="{{ asset('images/icon-5.png') }}" alt=""></div>
                                    </div>
                                </div>
                                <h5>feugiat</h5>
                                <h4>Eum tale deleniti no</h4>
                                <p>Ex commodo disputationi sit deterruisset.</p>
                            </div>
                        </div>
                    </div>
                    <div class="info-btn-n">
                        <div class="table-div">
                            <div class="table-cell-div">
                                <div class="icon-box">
                                    <div class="table-div">
                                        <div class="table-cell-div"><img src="{{ asset('images/icon-5.png') }}" alt=""></div>
                                    </div>
                                </div>
                                <h5>feugiat</h5>
                                <h4>Eum tale deleniti no</h4>
                                <p>Ex commodo disputationi sit deterruisset.</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </li>
        <li class="wow zoomIn" data-wow-delay="0.4s">
            <div class="info-btn">
                <a href="#">
                    <div class="info-btn-h">
                        <div class="table-div">
                            <div class="table-cell-div">
                                <div class="icon-box">
                                    <div class="table-div">
                                        <div class="table-cell-div"><img src="{{ asset('images/icon-6.png') }}" alt=""></div>
                                    </div>
                                </div>
                                <h5>feugiat</h5>
                                <h4>Eum tale deleniti no</h4>
                                <p>Ex commodo disputationi sit deterruisset.</p>
                            </div>
                        </div>
                    </div>
                    <div class="info-btn-n">
                        <div class="table-div">
                            <div class="table-cell-div">
                                <div class="icon-box">
                                    <div class="table-div">
                                        <div class="table-cell-div"><img src="{{ asset('images/icon-6.png') }}" alt=""></div>
                                    </div>
                                </div>
                                <h5>feugiat</h5>
                                <h4>Eum tale deleniti no</h4>
                                <p>Ex commodo disputationi sit deterruisset.</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </li>
    </ul>
</div>-->