<div class="info-row">
    <ul>
        <li class="wow zoomIn" data-wow-delay="0.4s">
            <div class="info-btn">
                <a href="#">
                    <div class="info-btn-h">
                        <div class="table-div">
                            <div class="table-cell-div">
                                <div class="icon-box">
                                    <div class="table-div">
                                        <div class="table-cell-div"><img src="{{ asset('images/icon-1.png') }}" alt=""></div>
                                    </div>
                                </div>
                                <h5>feugiat</h5>
                                <h4>Eum tale deleniti no</h4>
                                <p>Ex commodo disputationi sit deterruisset.</p>
                            </div>
                        </div>
                    </div>
                    <div class="info-btn-n">
                        <div class="table-div">
                            <div class="table-cell-div">
                                <div class="icon-box">
                                    <div class="table-div">
                                        <div class="table-cell-div"><img src="{{ asset('images/icon-1.png') }}" alt=""></div>
                                    </div>
                                </div>
                                <h5>feugiat</h5>
                                <h4>Eum tale deleniti no</h4>
                                <p>Ex commodo disputationi sit deterruisset.</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </li>
        <li class="wow zoomIn" data-wow-delay="0.4s">
            <div class="info-btn">
                <a href="#">
                    <div class="info-btn-h">
                        <div class="table-div">
                            <div class="table-cell-div">
                                <div class="icon-box">
                                    <div class="table-div">
                                        <div class="table-cell-div"><img src="{{ asset('images/icon-2.png') }}" alt=""></div>
                                    </div>
                                </div>
                                <h5>feugiat</h5>
                                <h4>Eum tale deleniti no</h4>
                                <p>Ex commodo disputationi sit deterruisset.</p>
                            </div>
                        </div>
                    </div>
                    <div class="info-btn-n">
                        <div class="table-div">
                            <div class="table-cell-div">
                                <div class="icon-box">
                                    <div class="table-div">
                                        <div class="table-cell-div"><img src="{{ asset('images/icon-2.png') }}" alt=""></div>
                                    </div>
                                </div>
                                <h5>feugiat</h5>
                                <h4>Eum tale deleniti no</h4>
                                <p>Ex commodo disputationi sit deterruisset.</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </li>
        <li class="wow zoomIn" data-wow-delay="0.4s">
            <div class="info-btn">
                <a href="#">
                    <div class="info-btn-h">
                        <div class="table-div">
                            <div class="table-cell-div">
                                <div class="icon-box">
                                    <div class="table-div">
                                        <div class="table-cell-div"><img src="{{ asset('images/icon-3.png') }}" alt=""></div>
                                    </div>
                                </div>
                                <h5>feugiat</h5>
                                <h4>Eum tale deleniti no</h4>
                                <p>Ex commodo disputationi sit deterruisset.</p>
                            </div>
                        </div>
                    </div>
                    <div class="info-btn-n">
                        <div class="table-div">
                            <div class="table-cell-div">
                                <div class="icon-box">
                                    <div class="table-div">
                                        <div class="table-cell-div"><img src="{{ asset('images/icon-3.png') }}" alt=""></div>
                                    </div>
                                </div>
                                <h5>feugiat</h5>
                                <h4>Eum tale deleniti no</h4>
                                <p>Ex commodo disputationi sit deterruisset.</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </li>
        <li class="wow zoomIn" data-wow-delay="0.4s">
            <div class="info-btn">
                <a href="#">
                    <div class="info-btn-h">
                        <div class="table-div">
                            <div class="table-cell-div">
                                <div class="icon-box">
                                    <div class="table-div">
                                        <div class="table-cell-div"><img src="{{ asset('images/icon-4.png') }}" alt=""></div>
                                    </div>
                                </div>
                                <h5>feugiat</h5>
                                <h4>Eum tale deleniti no</h4>
                                <p>Ex commodo disputationi sit deterruisset.</p>
                            </div>
                        </div>
                    </div>
                    <div class="info-btn-n">
                        <div class="table-div">
                            <div class="table-cell-div">
                                <div class="icon-box">
                                    <div class="table-div">
                                        <div class="table-cell-div"><img src="{{ asset('images/icon-4.png') }}" alt=""></div>
                                    </div>
                                </div>
                                <h5>feugiat</h5>
                                <h4>Eum tale deleniti no</h4>
                                <p>Ex commodo disputationi sit deterruisset.</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </li>
        <li class="wow zoomIn" data-wow-delay="0.4s">
            <div class="info-btn">
                <a href="#">
                    <div class="info-btn-h">
                        <div class="table-div">
                            <div class="table-cell-div">
                                <div class="icon-box">
                                    <div class="table-div">
                                        <div class="table-cell-div"><img src="{{ asset('images/icon-5.png') }}" alt=""></div>
                                    </div>
                                </div>
                                <h5>feugiat</h5>
                                <h4>Eum tale deleniti no</h4>
                                <p>Ex commodo disputationi sit deterruisset.</p>
                            </div>
                        </div>
                    </div>
                    <div class="info-btn-n">
                        <div class="table-div">
                            <div class="table-cell-div">
                                <div class="icon-box">
                                    <div class="table-div">
                                        <div class="table-cell-div"><img src="{{ asset('images/icon-5.png') }}" alt=""></div>
                                    </div>
                                </div>
                                <h5>feugiat</h5>
                                <h4>Eum tale deleniti no</h4>
                                <p>Ex commodo disputationi sit deterruisset.</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </li>
        <li class="wow zoomIn" data-wow-delay="0.4s">
            <div class="info-btn">
                <a href="#">
                    <div class="info-btn-h">
                        <div class="table-div">
                            <div class="table-cell-div">
                                <div class="icon-box">
                                    <div class="table-div">
                                        <div class="table-cell-div"><img src="{{ asset('images/icon-6.png') }}" alt=""></div>
                                    </div>
                                </div>
                                <h5>feugiat</h5>
                                <h4>Eum tale deleniti no</h4>
                                <p>Ex commodo disputationi sit deterruisset.</p>
                            </div>
                        </div>
                    </div>
                    <div class="info-btn-n">
                        <div class="table-div">
                            <div class="table-cell-div">
                                <div class="icon-box">
                                    <div class="table-div">
                                        <div class="table-cell-div"><img src="{{ asset('images/icon-6.png') }}" alt=""></div>
                                    </div>
                                </div>
                                <h5>feugiat</h5>
                                <h4>Eum tale deleniti no</h4>
                                <p>Ex commodo disputationi sit deterruisset.</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </li>
    </ul>
</div>