<div class="section">
    <div class="container">
        <div class="row other-products">
            <div class="container">
                <div class="section-heading row wow flipInX" data-wow-delay="0.4s">
                    <div class="col-sm-8 col-sm-offset-2 fb-section-header">
                        <h2>BEST</h2>
                        <h1>SELLERS</h1>
                    </div>
                </div>
            </div>

<!--
            
                <div class="product-media-scroll">
                    <h3>Best <span>Sellers</span></h3>
                    {% for ctg in categories %}
                        {% if ctg.slug != 'ΠΡΟΣΦΟΡΕΣ' %}
                            <h5>
                                <a href="#" data-id="{{ ctg.s1id }}" data-firstchild="{{ ctg.children[0].s1id }}" class="best-sellers-category">{{ ctg.name }}</a>
                            </h5>
                        {% endif %}
                    {% endfor %}
                </div>
            
-->
        </div>
    </div>
 <div class="row bg-light">
            <div id="best-sellers-container" class="col-md-12 col-lg-12">
                <div class="ProductTab">
                    <ul class="resp-tabs-list hor_1" data-id="1728">
                        {% for ctg in categories|slice(0,1) %}
                            {% for subCtg in ctg.children %}
                                {% if subCtg.isVisible == true %}
                                    {% if loop.index == 1 %}
                                        {% set activeLi = " resp-tab-active" %}
                                    {% else %}
                                        {% set activeLi = "" %}
                                    {% endif %}
                                    <li class=" {{ activeLi}}"><span class="best-sellers-tab" data-id="{{ subCtg.s1id }}">{{ subCtg.name }}</span></li>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    </ul>
                    <ul class="resp-tabs-list hor_1 hidden" data-id="1801">
                        {% for ctg in categories|slice(1,1) %}
                            {% for subCtg in ctg.children %}
                                {% if subCtg.isVisible == true %}
                                    {% if loop.index == 1 %}
                                        {% set activeLi = " resp-tab-active" %}
                                    {% else %}
                                        {% set activeLi = "" %}
                                    {% endif %}
                                    <li class=" {{ activeLi}}"><span class="best-sellers-tab" data-id="{{ subCtg.s1id }}">{{ subCtg.name }}</span></li>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    </ul>
                    <ul class="resp-tabs-list hor_1 hidden" data-id="1929">
                        {% for ctg in categories|slice(2,1) %}
                            {% for subCtg in ctg.children %}
                                {% if subCtg.isVisible == true %}
                                    {% if loop.index == 1 %}
                                        {% set activeLi = " resp-tab-active" %}
                                    {% else %}
                                        {% set activeLi = "" %}
                                    {% endif %}
                                    <li class=" {{ activeLi}}"><span class="best-sellers-tab" data-id="{{ subCtg.s1id }}">{{ subCtg.name }}</span></li>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    </ul>
                    <ul class="resp-tabs-list hor_1 hidden" data-id="1896">
                        {% for ctg in categories|slice(4,1) %}
                            {% for subCtg in ctg.children %}
                                {% if subCtg.isVisible == true %}
                                    {% if loop.index == 1 %}
                                        {% set activeLi = " resp-tab-active" %}
                                    {% else %}
                                        {% set activeLi = "" %}
                                    {% endif %}
                                    <li class=" {{ activeLi}}"><span class="best-sellers-tab" data-id="{{ subCtg.s1id }}">{{ subCtg.name }}</span></li>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    </ul>
                    <div id="best-seller-products" class="resp-tabs-container hor_1">
                        {#{% include 'home_page_modules/ajax_best_seller.html.twig' %}#}
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>