<div class="section" style="background-image:url({{ asset('images/bg-5.jpg') }});">
    <div class="container">
        <div class="row other-products">
            <div class="col-md-4 col-lg-3">
                <div class="product-media-scroll">
                    <h3>Best <span>Sellers</span></h3>
                    {% for ctg in categories %}
                        {% if ctg.id != 1867 %}
                        <h5>
                            <a href="#" data-id="{{ ctg.id }}" class="best-sellers-category">{{ ctg.name }}</a>
                        </h5>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>


            <div id="best-sellers-container" class="col-md-8 col-lg-9">
                <div class="ProductTab">
                    <ul class="resp-tabs-list hor_1" data-id="1728">
                        {% for ctg in categories|slice(0,1) %}
                            {% for subCtg in ctg.children %}
                                {% if subCtg.isVisible == true %}
                                    <li>{{ subCtg.name }}</li>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    </ul>
                    <ul class="resp-tabs-list hor_1 hidden" data-id="1801">
                        {% for ctg in categories|slice(1,1) %}
                            {% for subCtg in ctg.children %}
                                {% if subCtg.isVisible == true %}
                                    <li>{{ subCtg.name }}</li>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    </ul>
                    <ul class="resp-tabs-list hor_1 hidden" data-id="1929">
                        {% for ctg in categories|slice(2,1) %}
                            {% for subCtg in ctg.children %}
                                {% if subCtg.isVisible == true %}
                                    <li>{{ subCtg.name }}</li>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    </ul>
                    <ul class="resp-tabs-list hor_1 hidden" data-id="1867">
                        {% for ctg in categories|slice(3,1) %}
                            {% for subCtg in ctg.children %}
                                {% if subCtg.isVisible == true %}
                                    <li>{{ subCtg.name }}</li>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    </ul>
                    <ul class="resp-tabs-list hor_1 hidden" data-id="1896">
                        {% for ctg in categories|slice(4,1) %}
                            {% for subCtg in ctg.children %}
                                {% if subCtg.isVisible == true %}
                                    <li>{{ subCtg.name }}</li>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    </ul>
                    <div id="best-seller-products" class="resp-tabs-container hor_1">
                        {% include 'home_page_modules/ajax_best_seller.html.twig' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>