<div id="men_id">
    <div class="owl-carousel owl-theme ProductScrollTab product-main-slider">
        {% for pr in bestSellers %}
            <div class="item">
                <div class="product-case">
                    {#<div class="tag tag-green"><span>new</span></div>#}
                    <div class="product-img">
                        <div class="hover-img">
                            <a href="{{ path('product_view', {'id':pr.id}) }}"><img
                                        src="{{ pr.imageUrl }}" alt="{{ pr.name }}"></a>
                        </div>
                        <a href="{{ path('product_view', {'id':pr.id}) }}"><img
                                    src="{{ pr.imageUrl }}" alt="{{ pr.name }}"></a>
                    </div>
                    <div class="hover-info">
                        <div class="product-short-info">
                            <div class="product-name">
                                {% if pr.summary|length > 0 %}
                                    {#{% set text = pr.summary|render %}#}
                                    {% set hoverText = pr.summary|truncate(110, true)|raw %}
                                {% else %}
                                    {% set hoverText = pr.name|title|truncate(100, true)|raw %}
                                {% endif %}
                                <a href="{{ path('product_view', {'id':pr.id}) }}">{{ hoverText }}</a>
                            </div>
                            <div class="product-price">
                                <div class="product-price-span">
                                    Κωδ. {{ pr.prCode }}
                                </div>
                            </div>
                            <button type="button" class="add-to-cart" data-id="{{ pr.id }}"><i class="fa fa-cart-plus"></i>
                                <span>Καλάθι</span>
                            </button>
                        </div>
                    </div>
                    <div class="product-short-info">
                        <div class="product-name">
                            <a href="{{ path('product_view', {'id':pr.id}) }}">{{ pr.name|title }}</a>
                        </div>
                        <div class="product-price">
                            <div class="product-price-span">{{ pr.webPrice|number_format(2, ',', '.') }}€
                                <del>{{ pr.retailPrice|number_format(2, ',', '.') }}€</del>
                            </div>
                        </div>
                        <div>
                            <span itemprop="offers" itemscope=""
                                  itemtype="https://schema.org/Offer"
                                  class="availability">
                                {#{% if (pr.remainNotReserved > "0" or pr.webFree == "true") and pr.outOfStock == "false" %}#}
                                {% if pr.outOfStock == "false" and (pr.remainNotReserved|number_format() > 0 or pr.webFree == "true") %}
                                    <span class="available-now">
                                        <link itemprop="availability"
                                              href="https://schema.org/InStock">
                                        Διαθέσιμο
                                    </span>
                                {% else %}
                                    <span class="out-of-stock">
                                        <link itemprop="availability"
                                              href="https://schema.org/InStock">
                                        Μη διαθέσιμο
                                    </span>
                                {% endif %}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{#{% endfor %}#}


