{% for item in ourCorner %}
    <div class="section"
         style="background-image:url({{ asset('uploads/our-corner/' ~ item.image) }}); border-bottom: 50px #ffffff solid;">
        <div class="container">
            {#<div class="section-heading row wow flipInX" data-wow-delay="0.4s">#}
            {#<div class="col-sm-8 col-sm-offset-2">#}
            {#<h3>Get ready for our</h3>#}
            {#<h2>Νέες αφίξεις</h2>#}
            {#<p>Δείτε τα νέα μας προϊόντα. </p>#}
            {#</div>#}
            {#</div>#}

            <div class="container">
                {% if (loop.index is odd) %}
                    {% set orientation = 'right' %}
                {% else %}
                    {% set orientation = 'left' %}
                {% endif %}
                {% if orientation == 'left' %}
                    <div class="col-lg-5">
                        {#<h3>Get ready for our</h3>#}
                        <h1>{{ item.name }}</h1>
                        <h3>{{ item.description }} </h3>
                    </div>
                {% endif %}

                <div class="col-lg-7">

                    <div class="owl-carousel owl-theme ProductScroll">
                        {#{{ dump(ourCornerProducts[loop.index-1].products[0]) }}#}
                        {% for pr in ourCornerProducts[loop.index-1].products|slice(0,4) %}
                            <div class="item wow flipInY animated" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: flipInY;">
                                <div class="product-case">
                                    {#<div class="tag tag-green"><span>new</span></div>#}
                                    <div class="product-img">
                                        <div class="hover-img">
                                            <img src="{{ pr.imageUrl }}" alt="{{ pr.name }}"></div>
                                        <a href="{{ path('product_view', {'id':pr.id}) }}">
                                            <img src="{{ pr.imageUrl }}" alt="{{ pr.name }}"></a>
                                    </div>
                                    <div class="hover-info">
                                        <div class="product-short-info">
                                            <div class="product-name">
                                                {% if pr.summary|length > 0 %}
                                                    {#{% set text = pr.summary|render %}#}
                                                    {% set hoverText = pr.summary|truncate(110, true)|raw %}
                                                {% else %}
                                                    {% set hoverText = pr.name|title|truncate(90, true)|raw %}
                                                {% endif %}
                                                <a href="{{ path('product_view', {'id':pr.id}) }}">{{ hoverText }}</a>
                                            </div>
                                            {#<div class="star"><i class="fa fa-star"></i><i class="fa fa-star"></i><i#}
                                            {#class="fa fa-star"></i><i class="fa fa-star"></i><i#}
                                            {#class="fa fa-star"></i><i#}
                                            {#class="fa fa-star-o"></i></div>#}
                                            <div class="product-price">
                                                <div class="product-price-span">
                                                    Κωδ. {{ pr.prCode }}
                                                </div>
                                                {#<div class="product-price-span">{{ pr.webPrice }}€#}
                                                {#<del>{{ pr.retailPrice }}€</del>#}
                                                {#</div>#}
                                            </div>
                                            <button type="button" class="add-to-cart" data-id="{{ pr.id }}">
                                                <i class="fas fa-cart-plus"></i>
                                                <span>στο καλαθι</span>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="product-short-info">
                                        <div class="product-name"><a href="#">{{ pr.name|title }}</a></div>
                                        {#<div class="star"><i class="fa fa-star"></i><i class="fa fa-star"></i><i#}
                                        {#class="fa fa-star"></i><i class="fa fa-star"></i><i#}
                                        {#class="fa fa-star"></i><i#}
                                        {#class="fa fa-star-o"></i></div>#}
                                        <div class="product-price">
                                            <div class="product-price-span">{{ pr.webPrice }}€
                                                <del>{{ pr.retailPrice }}€</del>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>

                {% if orientation != 'left' %}
                    <div class="col-lg-5">
                        {#<h3>Get ready for our</h3>#}
                        <h1>{{ item.name }}</h1>
                        <h3>{{ item.description }} </h3>
                    </div>
                {% endif %}

            </div>


        </div>
    </div>
{% endfor %}