{% extends 'layout.html.twig' %}

{% block bodyId %}category{% endblock %}
{% block title %} | Το Blog μας{% endblock %}
{% block slider %}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {#<link href="{{ asset('build/css/orders.css') }}" rel="stylesheet"/>#}
    <style>
        .transition {
            -webkit-transform: scale(1.3);
            -moz-transform: scale(1.3);
            -o-transform: scale(1.3);
            transform: scale(1.3);
            -webkit-transition: all .4s ease-in-out;
            -moz-transition: all .4s ease-in-out;
            -o-transition: all .4s ease-in-out;
            -ms-transition: all .4s ease-in-out;
        }
        .blog-img {
            position: relative;
            overflow: hidden;
            height: 320px;
        }
        .blog-img > h4 {
            position: absolute;
            margin: 0;
            bottom: 0;
            left: 0;
            line-height: 1.4em;
            padding: 10px;
            width: 100%;
            color: #FFF;
            background-color: rgba(0, 0, 0, .8);
        }
    </style>
{% endblock %}
{% block breadcrumb %}

{% endblock %}

{% block body %}
    {% include 'partials/sidebar_login.html.twig' %}
    {% include 'partials/sidebar_cart.html.twig' %}
    {% include 'partials/swipe_menu.html.twig' %}
    {% include 'partials/site_header.html.twig' %}
    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-md-6"><h1>Το Blog μας</h1></div>
            </div>
        </div>
    </div>
    <div class="section" style="background-image:url({{ asset('images/bg-5.jpg') }});">
        <div class="container">
            <div class="row">

                <div class="post-list" style="padding-bottom: 20px; ">
                    <div class="row imagetiles">
                        {% if articles|length > 0 %}
                        {% for article in articles %}
                            <div class="col-sm-6 col-xs-12" style="padding:0; overflow: hidden;">
                                <div class="blog-img">
                                    <a href="{{ path('blog_view', {'slug': article.slug}) }}">
                                        <img style="width: 100%" src="{{ asset('uploads/articles/' ~ article.image) }}">
                                    </a>
                                    <h4>{{ article.name }}</h4>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>

                {% if blogCount > pagesize %}
                    <nav aria-label="Page navigation">
                        {{ include('blog/modules/pagination.html.twig') }}
                    </nav>
                {% endif %}

            </div>
        </div>
        {% include 'home_page_modules/14_newsletter.html.twig' %}
        {#{% include 'home_page_modules/15_social.html.twig' %}#}
        {% include 'partials/footer.html.twig' %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/js/blog-category-slider-list.js') }}"></script>
    <script type='text/javascript' src='//platform-api.sharethis.com/js/sharethis.js#property=5bd33569ee8c700011929ddd&product=inline-share-buttons' async='async'></script>
{% endblock %}
