{% extends 'layout.html.twig' %}

{% block bodyId %}category{% endblock %}
{% block title %} | Το Blog μας{% endblock %}
{% block slider %}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('build/css/orders.css') }}" rel="stylesheet"/>
{% endblock %}
{% block breadcrumb %}

{% endblock %}

{% block body %}
    {#{% include 'partials/sidebar_login.html.twig' %}#}
    {% include 'partials/sidebar_cart.html.twig' %}
    {% include 'partials/swipe_menu.html.twig' %}
    {% include 'partials/site_header.html.twig' %}
    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-md-6"><h1>Το Blog μας</h1></div>
            </div>
        </div>
    </div>
    <div class="section" style="background-image:url({{ asset('images/bg-5.jpg') }});">
        <div class="container">
            {#<div class="blog-header" style="background-image:url(images/bg-10.jpg)">#}
            {#<div class="row wow flipInX" data-wow-delay="0.4s">#}
            {#<div class="col-sm-8 col-sm-offset-2">#}
            {#<h3>OUR BLOGS</h3>#}
            {#<h2>Read all our Latest Blogs</h2>#}
            {#<p>Nam in docendi reprimique, laoreet honestatis eu mel. Id qui aperiri admodum intellegat, ea#}
            {#illum populo qui. An modo eleifend vituperatoribus his, id has oporteat honestatis, has quas#}
            {#efficiendi eu. </p>#}
            {#</div>#}
            {#</div>#}
            {#</div>#}


            <div class="row">
                <div class="col-sm-8 col-md-9">
                    <div class="post-list">
                        {% if articles|length > 0 %}
                            {% for article in articles %}
                                <div class="post-article wow fadeIn" data-wow-delay="0.4s">
                                    <div class="row no-margin">
                                        <div class="col-md-7 no-padding">
                                            <div class="blog-img coleql_height">
                                                <div class="post-img "
                                                     style="background-image:url({{ asset('uploads/articles/' ~ article.image.filename) }})"></div>
                                            </div>
                                        </div>
                                        <div class="col-md-5 no-padding">
                                            <div class="post-article-content coleql_height">
                                                <h3><a href="{{ path('blog_view', {'slug': article.slug}) }}">{{ article.name }}</a>
                                                </h3>
                                                <p>{{ article.summary|raw }}</p>
                                                <ul class="postmeta">
                                                    <li><i class="fa fa-calendar"></i>{{ article.createdAt|date("F jS \\a\\t g:ia") }}
                                                    </li>
                                                    {#<li><i class="fa fa-comments"></i><a href="#">23 comments</a></li>#}
                                                    {#<li><i class="fa fa-user-circle-o"></i>by <a href="#">Admin</a></li>#}
                                                </ul>
                                                <div class="clearfix">
                                                    <a href="{{ path('blog_view', {'slug': article.slug}) }}" class="btn btn-primary pull-left">Περισσότερα</a>
                                                    <div class="share pull-right">
                                                        <p>
                                                            <small>Μοιραστείτε το άρθρο:</small>
                                                        </p>
                                                        <ul>
                                                            <li><a href="#" class="facebook"><i
                                                                            class="fa fa-facebook"></i></a>
                                                            </li>
                                                            <li><a href="#" class="twitter"><i
                                                                            class="fa fa-twitter"></i></a>
                                                            </li>
                                                            <li><a href="#" class="gplus"><i
                                                                            class="fa fa-google-plus"></i></a>
                                                            </li>
                                                            <li><a href="#" class="pinterest"><i
                                                                            class="fa fa-pinterest"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>


                    <nav aria-label="Page navigation">
                        <ul class="pagination">
                            <li>
                                <a href="#" aria-label="Previous">
                                    <span aria-hidden="true">«</span>
                                </a>
                            </li>
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li>
                                <a href="#" aria-label="Next">
                                    <span aria-hidden="true">»</span>
                                </a>
                            </li>
                        </ul>
                    </nav>

                </div>


                <div class="col-sm-4 col-md-3 right-col">
                    <div class="widget-box">
                        <div class="blog-search">
                            <form method="post" action="#">
                                <input placeholder="Search Blog" class="form-control" type="text">
                                <button type="submit"><i class="fa fa-search"></i></button>
                            </form>
                        </div>
                    </div>

                    {#<div class="widget-box">#}
                    {#<h3>Categories</h3>#}
                    {#<div class="category-list">#}
                    {#<ul>#}
                    {#<li><a href="#">About us <span>(1)</span></a></li>#}
                    {#<li><a href="#">Checkerboard <span>(10)</span></a></li>#}
                    {#<li><a href="#">Fashion <span>(8)</span></a></li>#}
                    {#<li><a href="#">Lifestyle <span>(5)</span></a></li>#}
                    {#<li><a href="#">Nature <span>(7)</span></a></li>#}
                    {#<li><a href="#">Travel <span>(3)</span></a></li>#}
                    {#<li><a href="#">Types <span>(3)</span></a></li>#}
                    {#</ul>#}
                    {#</div>#}
                    {#</div>#}

                    {% include('Admin/articles/modules/bside_popular.html.twig') %}

                    {% include 'products/modules/aside_best_sellers.html.twig' %}

                    <div class="widget-box">
                        <div class="fb-page" data-href="#" data-tabs="timeline" data-height="648"
                             data-small-header="false" data-adapt-container-width="true" data-hide-cover="false"
                             data-show-facepile="true">
                            <blockquote cite="#" class="fb-xfbml-parse-ignore"><a href="#">Facebook</a></blockquote>
                        </div>
                    </div>

                </div>


            </div>
        </div>
        {% include 'home_page_modules/14_newsletter.html.twig' %}
        {#{% include 'home_page_modules/15_social.html.twig' %}#}
        {% include 'partials/footer.html.twig' %}
    </div>
{% endblock %}

