{% extends 'layout.html.twig' %}

{% block title %} | Forgot Password{% endblock %}

{% block body %}
    {% include 'partials/sidebar_login.html.twig' %}
    {% include 'partials/swipe_menu.html.twig' %}
    {% include 'partials/site_header.html.twig' %}
    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-md-6"><h1>Αίτηση Νέου Κωδικού</h1></div>
            </div>
        </div>
    </div>
    <div class="section" style="background-image:url({{ asset('images/bg-5.jpg') }});">
        <div class="container">
            <section id="main">
                <div class="columns_inner">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="content">
                                {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                                    <div class="form-group row">
                                        <div class="col-md-6 col-md-offset-3">
                                            {{ form_widget(form.password.first, {'attr': {'placeholder': 'Password'}}) }}
                                            <span class="text-danger">{{ form_errors(form.password.first) }}</span>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-6 col-md-offset-3">
                                            {{ form_widget(form.password.second, {'attr': {'placeholder': 'Επανάληψη Password'}}) }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-2 col-md-offset-5">
                                            <button type="submit" class="btn btn-info btn-login-button btn-block">Αλλαγή Κωδικού</button>
                                        </div>
                                    </div>
                                {{ form_end(form) }}
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        {% include 'partials/footer.html.twig' %}
    </div>
{% endblock %}