{% extends 'Admin/layout.html.twig' %}

{% block stylesheet %}
    {{ parent() }}
    <link href="{{ asset('build/admin/css/plugins/select2.min.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('build/admin/css/category.css') }}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block title %}| Κατηγορίες{% endblock %}

{% block breadcrumb %}
    <div class="row">
        <div class="col-xl-12">
            <div class="breadcrumb-holder">
                <h1 class="main-title float-left">Our Corner</h1>
                <ol class="breadcrumb float-right">
                    <li class="breadcrumb-item">Home</li>
                    <li class="breadcrumb-item active">Our Corner</li>
                </ol>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!-- end row -->
{% endblock %}

{% block body %}
    {#MODAL#}
    <div class="modal fade custom-modal" tabindex="-1" role="dialog" aria-labelledby="modal_our_corner"
         aria-hidden="true"
         id="modal_our_corner">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"></h5>
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span
                                class="sr-only">Κλείσιμο</span></button>
                </div>
                <div class="modal-body"></div>
            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="card mb-3">
                <div class="card-header">
                    <h3><i class="fa fa-image"></i> Our Corner</h3>
                </div>
                <!-- end card-header -->

                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <td style="width:20px">#</td>
                                <td style="width:200px">Κατηγορία</td>
                                <td style="width:150px">Εικόνα</td>
                                <td>Λεπτομέρειες</td>
                                <td style="width:100px">Ενέργειες</td>
                            </tr>
                            </thead>
                            <tbody>

                            {% if categories|length > 0 %}
                                {% for category in categories %}
                                    <tr>
                                        <th>
                                            {{ loop.index }}
                                        </th>

                                        <td>
                                            {{ category.category.name }}
                                        </td>
                                        <td>
                                            <span style="float: left; margin-right:10px;">
                                                <img alt="{{ category.name }}" class="img-fluid"
                                                     style="max-width:150px; height:auto;"
                                                     src="{{ asset('uploads/our-corner/' ~ category.image) }}">
                                            </span>
                                        </td>
                                        <td>
                                            <h4>{{ category.name }}</h4>
                                            <small>{{ category.description }}
                                            </small>
                                        </td>

                                        <td>
                                            <a data-id="{{ loop.index }}" href="#"
                                               class="btn btn-primary btn-sm edit-category">
                                                <i class="fa fa-pencil" aria-hidden="true"></i>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% endif %}
                            </tbody>
                        </table>
                    </div>


                </div>
                <!-- end card-body -->

            </div>
            <!-- end card -->

        </div>
        <!-- end col -->

    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>

    <script src="{{ asset('build/admin/js/jstree.min.js') }}"></script>
    <script src="{{ asset('build/admin/js/our-corner.js') }}"></script>
{% endblock %}